/* UWA */
/* mini */

/* This is a simple CSS framework to build wonderful websites in... minutes! */

@import "scss/00_vars";
@import "scss/01_breakpoints";
@import "scss/02_basics";
@import "scss/03_flexboxes";
@import "scss/04_main";
@import "scss/05_colors";
@import "scss/06_typo";
@import "scss/07_animations";
@import "scss/08_headandfoot";
@import "scss/09_slides";
@import "scss/10_gdpr";
@import "scss/11_debug";
@import "scss/12_aroma";

/* THE END */

/* It has been a hard work */
/* By Giacomo Jack Rizzotti */
/* Pimsle.com */
