// BREAKPOINTS


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;
// Largest desktops
$screen-xxl-min: 1920px;


// Small devices ONLY/DOWN // 576px down
@mixin smOnly {
   @media (max-width: #{$screen-sm-min}) {
       @content;
   }
}
@mixin smDown {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Small devices UP // 576px up
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices ONLY // 576px to 768px
@mixin mdOnly {
   @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-min}) {
       @content;
   }
}

// Medium devices UP // 768px up
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Medium devices DOWN // 768px down
@mixin mdDown {
   @media (max-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices ONLY // 768px to 992px
@mixin lgOnly {
   @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-lg-min}) {
       @content;
   }
}

// Large devices UP // 992px up
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Large devices DOWN // 992px down
@mixin lgDown {
   @media (max-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices ONLY // 992px to 1200px
@mixin xlOnly {
   @media (min-width: #{$screen-lg-min}) and (max-width: #{$screen-xl-min}) {
       @content;
   }
}

// Extra large devices UP // 1200px up
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

// Extra large devices DOWN // 1200px down
@mixin xlDown {
   @media (max-width: #{$screen-xl-min}) {
       @content;
   }
}

// Extra extra large ONLY // 1200px to 1920px
@mixin xxlOnly {
   @media (min-width: #{$screen-xl-min}) and (max-width: #{$screen-xxl-min}) {
       @content;
   }
}

// Extra extra large devices UP // 1920px up
@mixin xxl {
   @media (min-width: #{$screen-xxl-min}) {
       @content;
   }
}

// Extra extra extra large devices DOWN // 1920px down
@mixin xxlDown {
   @media (max-width: #{$screen-xxl-min}) {
       @content;
   }
}

@include smDown {
  .sm-up {
    display: none!important;
  }
}
@include mdDown {
  .md-up {
    display: none!important;
  }
}
@include lgDown {
  .lg-up {
    display: none!important;
  }
}
@include xlDown {
  .xl-up {
    display: none!important;
  }
}
@include xxlDown {
  .xxl-up {
    display: none!important;
  }
}

@include smOnly {
  .no-sm {
    display: none!important;
  }
}
@include mdOnly {
  .no-md {
    display: none!important;
  }
}
@include xlOnly {
  .no-xl {
    display: none!important;
  }
}
@include xxlOnly {
  .no-xxl {
    display: none!important;
  }
}

// breakpoint NO visibility
@include sm {
  .sm-down {
    display: none!important;
  }
}

@include md {
  .md-down {
    display: none!important;
  }
}

@include lg {
  .lg-down {
    display: none!important;
  }
}

@include xl {
  .xl-down {
    display: none!important;
  }
}

@include xxl {
  .xxl-down {
    display: none!important;
  }
}