/* MIXINs */


$colors: //color name, color code, text color over color
  "wh" var(--white) var(--black),
  "white" var(--white) var(--black),
  "fw" var(--false-white) var(--black),
  //"false-white" var(--false-white) var(--black),
  "light-grey" var(--light-grey) var(--black),
  "grey" var(--grey) var(--white),
  "dark-grey" var(--dark-grey) var(--white),
  "fb" var(--false-black) var(--white),
  //"false-black" var(--false-black) var(--white),
  "bk" var(--black) var(--white),
  "black" var(--black) var(--white),
  "col" var(--main-color) var(--white),
  "color" var(--main-color) var(--white),
  "main-color" var(--main-color) var(--white),
  "color-dark" var(--main-color-dark) var(--white),
  "main-color-dark" var(--main-color-dark) var(--white),
  "second-color" var(--second-color) var(--white),
  "second-color-dark" var(--second-color-dark) var(--white),
  "third-color" var(--third-color) var(--white),
  "third-color-dark" var(--third-color-dark) var(--white),
  "fourth-color" var(--fourth-color) var(--white),
  "fourth-color-dark" var(--fourth-color-dark) var(--white),
  "link" var(--link-color) var(--white),
  "link-hover" var(--link-hover-color) var(--white),
  //"link-color" var(--link-color) var(--white),
  //"link-hover-color" var(--link-hover-color) var(--white),
  "info" var(--info) var(--white),
  "success" var(--success) var(--white),
  "warning" var(--warning) var(--white),
  "danger" var(--danger) var(--white),
  "bad" var(--bad) var(--white),
  "acid-green" var(--acid-green) var(--white),
  "ginger-bread" var(--gingerbread) var(--white),

  "mini" var(--mini-color) var(--white),
  "mini-dark" var(--mini-color-dark) var(--white),
  "mini-second" var(--mini-second) var(--white),
  "mini-third" var(--mini-third) var(--white),
  "mini-fourth" var(--mini-fourth) var(--white),

  "uwa" var(--uwa-color) var(--white),
  "uwa-dark" var(--uwa-color-dark) var(--white),
  "uwa-second" var(--uwa-second-color) var(--white),
  "uwa-third" var(--uwa-third-color) var(--white),
  "uwa-fourth" var(--uwa-fourth-color) var(--white),
  "uwa-link" var(--uwa-link-color) var(--white),

  "aroma" var(--aroma-color) var(--white),
  "aroma-dark" var(--aroma-color-dark) var(--white),

  "pdp" var(--pezzidipla-color) var(--white),
  "pdp-second" var(--pezzidipla-second-color) var(--white),
  "pdp-third" var(--pezzidipla-third-color) var(--white),
  "pdp-fourth" var(--pezzidipla-fourth-color) var(--white),

  "lns" var(--lanuovastartup-color) var(--white),
  "lns-dark" var(--lanuovastartup-color-dark) var(--white),

  "dt" var(--doingthings-color) var(--black);

$thickness: ('1':1px, '2':2px, '3':3px, '4':4px, '5':5px, '10':10px);
    
$borderRadius: ('1':1px, '2':2px, '3':3px, '4':4px, '5':5px, '10':10px, '15':15px, '20':20px, '25':25px, '30':30px, '50':50px, 'round':50%);

$sides: ('t':'top','e':'right','b':'bottom','s':'left',);

/* gradients */
$f2s: var(--main-color) 0%, var(--second-color) 100%;
$f2t: var(--main-color) 0%, var(--third-color) 100%;
$s2t: var(--second-color) 0%, var(--third-color) 100%;
$t2f: var(--third-color) 0%, var(--fourth-color) 100%;
$gradMain: var(--main-color) 0%, var(--main-color-dark) 100%;
$gradSecond: var(--second-color) 0%, var(--second-color-dark) 100%;
$gradThird: var(--third-color) 0%, var(--third-color-dark) 100%;
$gradFourth: var(--fourth-color) 0%, var(--fourth-color-dark) 100%;
$gradFalseWhiteToWhite: var(--white) 0%, var(--false-white) 100%;

@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient($direction, $list)!important;
  background: -moz-linear-gradient($direction, $list)!important;
  background: -o-linear-gradient($direction, $list)!important;
  background: linear-gradient($direction, $list)!important;
}

/* border radius */
@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

/* text shadow */
@mixin textShadow($distance, $range, $color) {
  text-shadow: $distance $distance $range $color;
}

/* box shadow */
@mixin boxShadow($distance, $range, $color) {
  -webkit-box-shadow: $distance $distance $range 0 $color;
  -moz-box-shadow: $distance $distance $range 0 $color;
  box-shadow: $distance $distance $range 0 $color;
}

/* width - min & max */
@mixin width($width) {
  min-width: $width;
  width: $width;
  max-width: $width;
}
