
/* BASICS */

*, *::after,*::before{
  box-sizing:border-box;
}


html {
  box-sizing: border-box;
  height: 100%;
  font-smooth: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  margin:0;
  padding:0;
  max-width: 100%;
  overflow-x: hidden;
}


body {
  &.mini {
  	padding: 0;
  	margin: 0;
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
    color: var(--black);

    &.spaceForMenu, &.spaceForHeader, &.space-for-menu, &.space-for-header, &.space-top, .spaceForMenu, .spaceForHeader, .space-for-menu, .space-for-header, .space-top {
      padding-top: calc((var(--logo-height)) + (var(--margin) * 2) + (var(--padding) * 2))!important;
    }
    &.space-top-bot, .space-top-bot {
      padding-top: calc((var(--logo-height)) + (var(--margin) * 2) + (var(--padding) * 2))!important;
      padding-bottom: calc((var(--logo-height)) + (var(--margin) * 2) + (var(--padding) * 2))!important;
    }
    &.space-bot, .space-bot {
      padding-bottom: calc((var(--logo-height)) + (var(--margin) * 2) + (var(--padding) * 2))!important;
    }

    .turnTop, .turn-top {
      margin-top: calc( ( (var(--logo-height)) + (var(--margin) * 2) + (var(--padding) * 2) ) * -1 )!Important;
    }

    .container {
      width: 100%;
      margin: 0 auto;
      position: relative;

      max-width: calc( var(--maxScreen) * 0.75 );
      @include xxl {
        max-width: calc( var(--maxScreen) * 1 );
      }

      &.fw, &.full-width {
        @include width(100%);

        &.forced {
          @include width(100vw);
          left: 50%;
          transform: translate(calc(-50%), 0);
          @include xl {
            @include width(calc(100vw - 12px)); /* correction for styled scrollbar */
          }
        }

      }
      &.thin {
        max-width: calc( var(--maxScreen) * 0.5 );
        @include xxl {
          max-width: calc( var(--maxScreen) * 0.75 );
        }
      }
      &.wide {
        max-width: calc( var(--maxScreen) * 1 );
        @include xxl {
          max-width: calc( var(--maxScreen) * 1.25 );
        }
      }
    }
    main {
      min-width: 100%;
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
    }
    section {
      position: relative;
    }
  }
}


/* scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) rgba(0,0,0,0.05);
}
body::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.05);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--white) ;
  border-radius: 6px;
  border: 3px solid rgba(0,0,0,0.05);
}


/* text selection */
::-moz-selection { background: transparent; color: var(--main-color); }
::selection { background: transparent ; color: var(--main-color); }

.colTxt::-moz-selection, .colBox::-moz-selection, .colBg::-moz-selection {background: rgba(0,0,0,0.4); color: var(--white); }
.colTxt::selection, .colBox::selection, .colBg::selection {background: rgba(0,0,0,0.4); color: var(--white); }


body {
  &.mini {


    /* top position */
    #top {
        position:absolute;
        height:0;
        width:0;
        top: 0;
    }


    /* link to top */
    .top-link {
      width: calc( var(--baseline) * 4 );
      height: calc( var(--baseline) * 4 );
      background: var(--main-color);
      position: fixed!important;
      bottom: var(--padding);
      right: var(--padding);
      transition: all 0.3s ease;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      z-index: 99;
      border: 2px solid var(--white);
      &:hover {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
      p {
        font-weight:700;
        text-align: center;
        color: var(--white);
        margin: 0;
        padding: 0;
        font-size: 1rem;
        line-height: 1;
        width: 100%;
      }
    }
    &.top .top-link {
      opacity: 0;
      visibility: hidden;
    }
    &.scroll .top-link {
      opacity: 1;
      visibility: visible;
    }


    /* loader */
    .loader {
      display: block;
      width: 100%;
      height: 100%;
      position: fixed;
      top:0;
      right:0;
      bottom:0;
      left:0;
      background: var(--false-white);
      z-index: 109;

      transition: transform 0.3s ease-in;

      img.loader-logo {
        display: block;
        width: 100px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.done {
        transform: translate(0, -100%);
      }

      &.gone {
        display: none;
      }

    }

    /* images */
    img {
      &.img {
        width: 100%;
        height: auto;
        display: block;
      }
      &.invert, &.inv {
        filter: brightness(0) invert(1);
      }
    }

    /* attach to relative parent */
    .fit {
      position: absolute!important;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

  }
}
