
// MAIN STRUCTURE

// FLEXBOXES

.boxes {
  display: flex;
  flex-flow: row wrap;
  position: relative;

  width: calc(100% + (var(--gap) * 2));
  margin: 0 calc( var(--gap) * -1 );
  --gap: calc( var(--basic-gap) * 1 );
  --gap-y: calc( var(--gap) * 1 );
  --gap-x: calc( var(--gap) * 1 );

  .box {

    position: relative;
    margin: 0; // NEW
    margin: calc(var(--gap-y) * 1) calc(var(--gap-x) * 1); // NEW
    padding: calc(var(--padding) * 1);
    max-width: 100%;
    flex: 11 1 auto;
    
    @each $widthLabel, $widthPercentageSM, $widthPercentageMD, $widthPercentageLG, $widthPercentageXL, $widthPercentageXXL, $ratioSM, $ratioMD, $ratioLG, $ratioXL, $ratioXXL in $boxWidth {
      &-#{$widthLabel} {
        
        @extend .box;
        flex: 0 0 auto;

        width: calc( $widthPercentageSM + ( var(--gap-x) * -2 ) ); // NEW

        @include sm {
          width: calc( $widthPercentageMD + ( var(--gap-x) * -2 ) ); // NEW
        }
        @include md {
          width: calc( $widthPercentageLG + ( var(--gap-x) * -2 ) ); // NEW
        }
        @include lg {
          width: calc( $widthPercentageXL + ( var(--gap-x) * -2 ) ); // NEW
        }
        @include xl {
          width: calc( $widthPercentageXXL + ( var(--gap-x) * -2 ) ); // NEW
        }

      }
    }

    @each $breakpoint, $screenSize in $breakpoints {
      &-#{$breakpoint} {
        @each $widthLabel, $widthPercentageSM, $widthPercentageMD, $widthPercentageLG, $widthPercentageXL, $widthPercentageXXL in $boxWidth {
          &-#{$widthLabel} {
            @extend .box;
            flex: 0 0 auto;
            @media (min-width: #{$screenSize}) {
              width: calc( $widthPercentageXXL + ( var(--gap-x) * -2 ) ); // NEW
            }
          }
        }
      }
    }

  }
}



.flex, .d-flex, .display-flex {
  display: flex!important;
  &-sm {
    @include sm {
      display: flex!important;
    }
  }
  &-md {
    @include md {
      display: flex!important;
    }
  }
  &-lg {
    @include lg {
      display: flex!important;
    }
  }
  &-xl {
    @include xl {
      display: flex!important;
    }
  }
  &-xxl {
    @include xxl {
      display: flex!important;
    }
  }
}
.block, .d-block, .display-block {
  display: block!important;
  &-sm {
    @include sm {
      display: block!important;
    }
  }
  &-md {
    @include md {
      display: block!important;
    }
  }
  &-lg {
    @include lg {
      display: block!important;
    }
  }
  &-xl {
    @include xl {
      display: block!important;
    }
  }
  &-xxl {
    @include xxl {
      display: block!important;
    }
  }
}
.inline-block, .d-inline-block, .display-inline-block {
  display: inline-block!important;
  &-sm {
    @include sm {
      display: inline-block!important;
    }
  }
  &-md {
    @include md {
      display: inline-block!important;
    }
  }
  &-lg {
    @include lg {
      display: inline-block!important;
    }
  }
  &-xl {
    @include xl {
      display: inline-block!important;
    }
  }
  &-xxl {
    @include xxl {
      display: inline-block!important;
    }
  }
}
.none, .d-none, .display-none {
  display: none!important;
  &-sm {
    @include sm {
      display: none!important;
    }
  }
  &-md {
    @include md {
      display: none!important;
    }
  }
  &-lg {
    @include lg {
      display: none!important;
    }
  }
  &-xl {
    @include xl {
      display: none!important;
    }
  }
  &-xxl {
    @include xxl {
      display: none!important;
    }
  }
}

.order {
  @each $order in $orders {
    &-#{$order} {
      order: #{$order};
    }
  }
  &-sm {
    @include sm {
      @each $order in $orders {
        &-#{$order} {
          order: #{$order};
        }
      }
    }
  }
  &-md {
    @include md {
      @each $order in $orders {
        &-#{$order} {
          order: #{$order};
        }
      }
    }
  }
  &-lg {
    @include lg {
      @each $order in $orders {
        &-#{$order} {
          order: #{$order};
        }
      }
    }
  }
  &-xl {
    @include xl {
      @each $order in $orders {
        &-#{$order} {
          order: #{$order};
        }
      }
    }
  }
  &-xxl {
    @include xxl {
      @each $order in $orders {
        &-#{$order} {
          order: #{$order};
        }
      }
    }
  }
}

.flex {

  @each $grow in $flex {
    &-#{$grow} {
      flex: #{$grow};
      @each $shrink in $flex {
        &-#{$shrink} {
          flex: #{$shrink};
        }
        @each $basis in $flex {
          &-#{$basis} {
            flex: #{$basis};
          }
        }
      }
    }
  }

  &-direction {
    &-row {
      flex-direction: row!important;
    }
    &-row-rev, &-row-reverse {
      flex-direction: row-reverse!important;
    }
    &-col, &-column {
      flex-direction: column!important;
    }
    &-col-rev, &-col-reverse, &-column-rev, &-column-reverse {
      flex-direction: column-reverse!important;
    }
  }

  &-wrap {
    flex-wrap: wrap!important;
  }
  &-no-wrap, &-nowrap {
    flex-wrap: nowrap!important;
  }

  &-flow {
    &-row {
      &-wrap {
        flex-flow: row wrap;
      }
      &-nowrap {
        flex-flow: row nowrap;
      }
    }
    &-column {
      &-wrap {
        flex-flow: column wrap;
      }
      &-nowrap {
        flex-flow: column nowrap;
      }
    }
  }
  
}

.gap, .g {
  --gap: calc( var(--basic-gap) * 1 );
  @each $gap-label, $gap in $multiplier {
    &-#{$gap-label} {
      --gap: calc( var(--basic-gap) * #{$gap} );
    }
  }
  &-y {
    @each $gap-label, $gap in $multiplier {
      &-#{$gap-label} {
        --gap-y: calc( var(--basic-gap) * #{$gap} );
      }
    }
  }
  &-x {
    @each $gap-label, $gap in $multiplier {
      &-#{$gap-label} {
        --gap-x: calc( var(--basic-gap) * #{$gap} );
      }
    }
  }
}

.justify-content, .jc {
  &-start {
    justify-content: flex-start!important;
  }
  &-end {
    justify-content: flex-end!important;
  }
  &-center {
    justify-content: center!important;
  }
  &-between {
    justify-content: space-between!important;
  }
  &-around {
    justify-content: space-around!important;
  }
}

.align-content, .ac {
  &-start {
    align-content: flex-start!important;
  }
  &-end {
    align-content: flex-end!important;
  }
  &-center {
    align-content: center!important;
  }
  &-stretch {
    align-content: stretch!important;
  }
  &-between {
    align-content: space-between!important;
  }
  &-around {
    align-content: space-around!important;
  }
}

.align-items, .ai {
  &-start {
    align-items: flex-start!important;
  }
  &-end {
    align-items: flex-end!important;
  }
  &-center {
    align-items: center!important;
  }
  &-stretch {
    align-items: stretch!important;
  }
}

//.box:has( > .boxes) {
//  margin-top: 0!important;
//  margin-bottom: 0!important;
//  padding: 0!important;
//}