
/* MENUs STYLING */

body {
  &.mini {

    // header
    header#header {
      transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
      &.fixed {
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        z-index: 99;
      }
    }
    &.top {
      header#header {
        &.top {
          &-wh {
            background: var(--white);
          }
          &-bk {
            background: var(--black);
          }
          &-col {
            background: var(--main-color);
          }
        }
      }
    }
    &.scroll {
      header#header {
        &.scroll {
          &-wh {
            background: var(--white);
          }
          &-bk {
            background: var(--black);
          }
          &-col {
            background: var(--main-color);
          }
        }
      }
    }

    // branding
    header#header {
      .boxes {
        .box {
          &.brand {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            min-height: calc( (var(--padding) * 2 ) + var(--logo-height) );
            height: calc( (var(--padding) * 2 ) + var(--logo-height) ); // EXPERIMENTAL
            a {
              display: inline-block;
              height: 100%;
              //vertical-align: middle;
              .logo {
                transition: all 0.3s ease;
                min-height: var(--logo-height);
                height: var(--logo-height); // EXPERIMENTAL
                width: auto;
              }
            }
            .site-title {
              display: inline-block;
              padding: 0 var(--padding);
              margin: 0 var(--margin) 0 0;
              position: relative;
              line-height: 1!important;
            }
          }
        }
      }
    }
    &.top {
      header#header {
        &.neg, &.inv, &.top-neg, &.top-inv, &.top-bk, &.top-col {
          &.brand {
            color: var(--white);
            a {
              .logo {
                filter: brightness(0) invert(1);
              }
              .site-title {
                color: var(--white);
                
              }
            }
          }
        }
      }
    }
    &.scroll {
      header#header {
        .brand {
          height: calc( (var(--padding) * 2 ) + var(--scroll-logo-height) );
          a {
            .logo {
              height: var(--scroll-logo-height);
            }
          }
        }
        &.neg, &.inv, &.scroll-neg, &.scroll-inv, &.scroll-bk, &.scroll-col {
          &.brand {
            color: var(--white);
            a {
              .logo {
                filter: brightness(0) invert(1);
              }
              .site-title {
                color: var(--white);
              }
            }
          }
        }
      }
    }

    // header menus
    header#header {
      .menus {
        padding: 0;
        display: flex;
        flex-flow: row-reverse;
        align-items: center;
      }
    }
    &.scroll {
      header#header {
        .menus {
        }
      }
    }

    // menu toggle
    header#header {
      #menu-toggle {
        display:block;
        top: var(--margin);
        right: var(--margin);
        width: var(--menu-toggle-height);
        height: var(--menu-toggle-height);
        //background: var(--main-color);
        padding: calc( var(--menu-toggle-height) / 7 );
        margin: 0 0 0 0;
        z-index: 9;
        @include borderRadius(5px);
        cursor: pointer;
        .line {
          display: block;
          height: calc( var(--menu-toggle-height) / 7);
          min-width: 100%;
          width: 100%;
          max-width: 100%;
          margin: 0 0 calc( var(--menu-toggle-height) / 7) 0;
          //background: var(--white);
          background: var(--menu-toggle-color);
        }
        &.clicked {
          .line {
            background: var(--white);
          }
        }
      }
      &.neg, &.inv, &.top-neg, &.top-inv, &.top-bk, &.top-col {
        #menu-toggle {
          background: var(--menu-toggle-color);
          .line {
            background: var(--white);
          }
        }

      }
      &.neg, &.inv, &.scroll-neg, &.scroll-inv, &.scroll-bk, &.scroll-col {
        #menu-toggle {
          background: var(--menu-toggle-color);
          .line {
            background: var(--white);
          }
        }
      }
    }
    &.top {
      
    }
    &.scroll {
      header#header {
        #menu-toggle {
          width: var(--scroll-menu-toggle-height);
          height: var(--scroll-menu-toggle-height);
          padding: calc( var(--scroll-menu-toggle-height) / 7 );
          .line {
            height: calc( var(--scroll-menu-toggle-height) / 7);
            margin: 0 0 calc( var(--scroll-menu-toggle-height) / 7) 0;
          }
        }
      }
    }

    // menu-open
    .sheet {
      display: flex;
      flex-flow: row-reverse wrap;
      justify-content: flex-end;
      align-items: flex-start;
      background: var(--sheet-color);
      transition: padding 0.2s ease-out;
      main {
        background: var(--white);
        transition: flex 0.2s ease-out, border-radius 0.2s ease-out, box-shadow 0.2s ease-out;
        flex: 100%;
      }
      sidebar#side-menu {
        transition: flex 0.2s ease-out;
        flex: 0;
        overflow: hidden;
      }
    }
    &.menu-open {
      header#header {
        .brand {
          img.logo {
            filter: brightness(0) invert(1);
          }
          .site-title {
            color:var(--white);
          }
        }
      }
      .sheet {
        padding: calc((var(--logo-height)) + var(--margin) * 2 + var(--padding) * 2 + var(--margin) * 2) 0 ;
          
        main {
          -webkit-border-top-right-radius: 15px;
          -webkit-border-bottom-right-radius: 15px;
          -moz-border-radius-topright: 15px;
          -moz-border-radius-bottomright: 15px;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          -webkit-box-shadow: 0 0 10px 10px rgba(0 0 0 / 10%);
          -moz-box-shadow: 0 0 10px 10px rgba(0 0 0 / 10%);
          box-shadow: 0 0 10px 10px rgba(0 0 0 / 10%);
          flex: 100%;
          @include sm {
            flex: 66.666666%;
          }
          @include md {
            flex: 75%;
          }
          @include xl {
            flex: 80%;
          }
          @include xxl {
            flex: 85%;
          }
        }
        sidebar#side-menu {
          flex: 100%;
          @include sm {
            flex: 33.333333%;
          }
          @include md {
            flex: 25%;
          }
          @include xl {
            flex: 20%;
          }
          @include xxl {
            flex: 15%;
          }
        }
      }
    }
    &.top {
    }
    &.scroll {
      &.menu-open {
        header#header {
          background: var(--sheet-color);
          -webkit-box-shadow: 0 0 10px 0 rgba(0 0 0 / 10%);
          -moz-box-shadow: 0 0 10px 0 rgba(0 0 0 / 10%);
          box-shadow: 0 0 10px 0 rgba(0 0 0 / 10%);
        }
      }
    }

    // page menu
    ul#page-menu {
      display: none;
      @include md {display: flex;}
      li {
        &.item, &.menu-item {
          font-style: italic;
          font-weight: 300;
        }
        &.menu-icon {
          color: var(--main-color-dark);
          padding: var(--padding);
          border: 5px solid var(--main-color-dark);
          @include md {
            background-color: transparent;
            color: var(--grey);
            padding: calc(var(--padding)*.5) calc(var(--padding)*.75);
            border: 0;
          }
        }
      }
    }
    &.top {
      &.menu-open {
        ul#page-menu {
          li {
            &.item, &.menu-item {
              a {
                color: var(--white);
              }
            }
          }
        }
      }
    }
    &.scroll {
      &.menu-open {
        ul#page-menu {
          li {
            &.item, &.menu-item {
              a {
                color: var(--white);
              }
            }
          }
        }
      }
    }
    &.menu-open {
    }

    // dropdown menu
    ul {
      li {
        ul {
          &.drop-down, &.dropdown, &.sub-menu {
            display: none;
          }
        }
        &.drop-down, &.dropdown, &.menu-item-has-children {
          position: relative;
          ul {
            &.drop-down, &.dropdown, &.sub-menu {
              display: flex;
              align-items: flex-start;
              flex-flow: column;
              @include md {
                position: absolute;
                top: calc( 100% + ( var(--margin) * 0.5 ) );
                left: 50%;
                transform: translate(-50%, 0);
              }
              background: var(--white);
              -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.03);
              -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.03);
              box-shadow: 0 0 0 1px rgba(0,0,0,0.03);

              // hidden
              opacity: 0;
              visibility: hidden;
              width: 0;
              height: 0;
              transition: all 0.3s ease;
              overflow: hidden;
              border:0;
              padding: 0;

              li, li.item, li.menu-item, li.menu-sub-item, li.sub-menu-item {
                font-size: var(--p);
                line-height: 1.5;
                a {
                  color: var(--black);
                  transform: translate(0,0);
                }
              }
            }
          }
          &:hover {
            &::before {
              content: "";
              width: 100%;
              height: 200%;
              display: block;
              position: absolute;
              left: 50%;
              transform: translate(-50%, 0);
              top: 0;
            }
            ul {
              &.drop-down, &.dropdown {
                // shown
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease;
                width: auto;
                height: auto;
                padding: var(--padding) calc(var(--padding)*1.5);
                min-width: 220px;
              }
            }
          }
        }
      }
    }

    // generic menu
    ul.menu {
      display: block;
      margin: 0;
      height: 100%;
      padding: 0 var(--padding);
      @include md {
        display: flex;
        margin: 0 calc( var(--margin) * 0.5);
      }

      li.item, li.menu-item {
        display: block;
        font-weight: 700;
        font-size: var(--h3);
        line-height: 1.5;
        margin:0;
        background: transparent;
        padding:0;
        @include sm {
          font-size: var(--h4);
        }
        @include md {
          font-size: var(--h6);
          padding: calc(var(--padding)*.5) calc(var(--padding)*.75);
        }
        a {
          display: block;
          position: relative;
          color: var(--white);
          padding: var(--padding);
          margin: calc(var(--margin) * 0.5 ) 0;
          @include sm {
            top: 50%;
            padding: calc(var(--padding) * 0.75 );
            margin: calc(var(--margin) * 0.75 ) 0;
          }
          @include md {
            color: var(--black);
            display: inline-block;
            margin: 0;
            padding: 0;
            transform: translate(0, -50%);
          }
          &::after {
            content:"";
            display: block;
            position: absolute;
            height: 2px;
            width: 0;
            background: var(--white);
            bottom: 0;
            left:0;
            transition: all 0.3s ease;
            @include md {
              background: var(--main-color);
            }
          }
        }
        &.active a, &.current-menu-item a, a.active, &:hover a {
          background: var(--link-color);
          color: var(--white);
          display: block;
          @include md {
            color: var(--link-color);
            background: transparent;
          }
          &::after {
            width: 0;
            background: var(--link-color);
            @include md {
              width: 100%;
              background: var(--link-color);
            }
          }
        }
      }
    }

    // page menu
    ul#page-menu {
      justify-content: flex-end;
      li.item, li.menu-item {
        a {
          &::after {
          }
        }
        &.active a, &.current-menu-item a, a.active, &:hover a {
          &::after {
          }
        }
      }
    }

    // main menu
    ul#main-menu {
      flex-flow: column wrap;
      align-items: flex-start;
      padding: var(--padding);
      @include md {
        padding: calc( var(--padding) * 2 ) var(--padding);
      }
      li.item, li.menu-item {
        font-size: var(--h3);
        a {
          color: var(--white);
          &::after {
          }
        }
        &.active a, &.current-menu-item a, a.active, &:hover a {
          &::after {
          }
        }
      }
    }

    // user menu
    ul#user-menu {
      li.item, li.menu-item {
        a {
          &::after {
          }
        }
        &.active a, &.current-menu-item a, a.active, &:hover a {
          &::after {
          }
        }
      }
    }

    // social menu
    ul#social-menu {
      li.item, li.menu-item {
        a {
          &::after {
          }
        }
        &.active a, &.current-menu-item a, a.active, &:hover a {
          &::after {
          }
        }
      }
    }

    // language menu
    ul#lang-menu {
      li.item, li.menu-item {
        a {
          &::after {
          }
        }
        &.active a, &.current-menu-item a, a.active, &:hover a {
          &::after {
          }
        }
      }
    }

    // footer menu
    ul#footer-menu {
      li.item, li.menu-item {
        a {
          &::after {
          }
        }
        &.active a, &.current-menu-item a, a.active, &:hover a {
          &::after {
          }
        }
      }
    }
          


    // footer
    footer#footer {
      .footer-logo {
        img.logo {
          &.emblem {
            width: 66.666666%;
            height: auto;
            display: block;
            filter: grayscale(100%);
            opacity: 0.1;
            transition: all 0.3s ease;
            margin: 0 auto;
            &:hover {
              filter: grayscale(0);
              opacity:1;
            }
          }
          &.logotype {
            height: auto;
            width: 100%;
            display: block;
            filter: grayscale(100%);
            opacity: 0.1;
            transition: all 0.3s ease;
            margin: 0 auto;
            &:hover {
              filter: grayscale(0);
              opacity:1;
            }
          }
		    }
      }
      .footer-info {

      }
      .footer-menu {
        nav {
          &.menu {
            ul {
              &.menu {
                li.item, li.menu-item {
                  display: block;
                  padding: 0;
                  a {
                    display: block;
                    margin: 0;
                    color: var(--false-black);
                    line-height: 1;
                    &:hover {
                      color: var(--link-color);
                    }
                  }
                }
              }
            }
          }
        }
	    }
    }

  }
}
