
/* COLORS */

body {
  &.mini {

    $colors:
      "wh" var(--white) var(--black),
      "white" var(--white) var(--black),
      "fw" var(--false-white) var(--black),
      "false-white" var(--false-white) var(--black),
      "light-grey" var(--light-grey) var(--black),
      "grey" var(--grey) var(--white),
      "dark-grey" var(--dark-grey) var(--white),
      "fb" var(--false-black) var(--white),
      "false-black" var(--false-black) var(--white),
      "bk" var(--black) var(--white),
      "black" var(--black) var(--white),
      "col" var(--main-color) var(--white),
      "color" var(--main-color) var(--white),
      "main-color" var(--main-color) var(--white),
      "color-dark" var(--main-color-dark) var(--white),
      "main-color-dark" var(--main-color-dark) var(--white),
      "second-color" var(--second-color) var(--white),
      "second-color-dark" var(--second-color-dark) var(--white),
      "third-color" var(--third-color) var(--white),
      "third-color-dark" var(--third-color-dark) var(--white),
      "fourth-color" var(--fourth-color) var(--white),
      "fourth-color-dark" var(--fourth-color-dark) var(--white),
      "link" var(--link-color) var(--white),
      "link-color" var(--link-color) var(--white),
      "link-hover-color" var(--link-hover-color) var(--white),
      "info" var(--info) var(--white),
      "success" var(--success) var(--white),
      "warning" var(--warning) var(--white),
      "danger" var(--danger) var(--white),
      "bad" var(--bad) var(--white),
      "acid-green" var(--acid-green) var(--white),
      "ginger-bread" var(--gingerbread) var(--white),

      "mini" var(--mini-color) var(--white),
      "mini-dark" var(--mini-color-dark) var(--white),
      "mini-second" var(--mini-second) var(--white),
      "mini-third" var(--mini-third) var(--white),
      "mini-fourth" var(--mini-fourth) var(--white),

      "uwa" var(--uwa-color) var(--white),
      "uwa-dark" var(--uwa-color-dark) var(--white),
      "uwa-second" var(--uwa-second-color) var(--white),
      "uwa-third" var(--uwa-third-color) var(--white),
      "uwa-fourth" var(--uwa-fourth-color) var(--white),
      "uwa-link" var(--uwa-link-color) var(--white),

      "aroma" var(--aroma-color) var(--white),
      "aroma-dark" var(--aroma-color-dark) var(--white),

      "pdp" var(--pezzidipla-color) var(--white),
      "pdp-second" var(--pezzidipla-second-color) var(--white),
      "pdp-third" var(--pezzidipla-third-color) var(--white),
      "pdp-fourth" var(--pezzidipla-fourth-color) var(--white),

      "lns" var(--lanuovastartup-color) var(--white),
      "lns-dark" var(--lanuovastartup-color-dark) var(--white),

      "dt" var(--doingthings-color) var(--black);

    $thickness: ('1':1px, '2':2px, '3':3px, '4':4px, '5':5px, '10':10px);

    @each $colorname, $colorcode, $colortext in $colors {
      .#{$colorname} {
        &-bord, &-border {
          @each $bordWidthLabel, $bordWidth in $thickness {
            &-t {
              border-style: solid;
              border-top-width: 1px;
              border-color: $colorcode;
            }
            &-e {
              border-style: solid;
              border-width: 0;
              border-right-width: 1px!important;
              border-color: $colorcode;
            }
            &-b {
              border-style: solid;
              border-width: 0;
              border-bottom-width: 1px!important;
              border-color: $colorcode;
            }
            &-s {
              border-style: solid;
              border-width: 0;
              border-left-width: 1px!important;
              border-color: $colorcode;
            }
            &-#{$bordWidthLabel} {
              border-style: solid;
              border-width: #{$bordWidth}!important;
              border-color: $colorcode;
            }/*
            &-t-#{$bordWidthLabel} {
              border-style: solid;
              border-top-width: #{$bordWidth};
              border-color: $colorcode;
            }
            &-e-#{$bordWidthLabel} {
              border-style: solid;
              border-width: 0;
              border-right-width: #{$bordWidth}!important;
              border-color: $colorcode;
            }
            &-b-#{$bordWidthLabel} {
              border-style: solid;
              border-width: 0;
              border-bottom-width: #{$bordWidth}!important;
              border-color: $colorcode;
            }
            &-s-#{$bordWidthLabel} {
              border-style: solid;
              border-width: 0;
              border-left-width: #{$bordWidth}!important;
              border-color: $colorcode;
            }*/
          }
        }
        &-txt, &-text {
          color: $colorcode!important;
        }
        &-box {
          background: $colorcode!important;
          color: $colortext!important;
          padding: calc(var(--padding) * 0.5) calc(var(--padding) * 0.75);
          display: inline-block;
          margin: 0 6px 8px 0;
          &.S {
            padding: calc(var(--padding) * 0.25) calc(var(--padding) * 0.4);
            margin: 0 4px 4px 0;
          }
          &.XS {
            padding: calc(var(--padding) * 0.1) calc(var(--padding) * 0.2);
            margin: 0 4px 2px 0;
          }
        }
        &-bg {
          background-color: $colorcode!important;
        }
        &-btn {
          color: $colorcode!important;
          border-color: $colorcode!important;
          &:hover, &.clicked {
            color: $colortext!important;
            background: $colorcode!important;
            border-color: $colorcode!important;
          }
          &-bg {
            color: $colortext!important;
            border-color: $colorcode!important;
            background: $colorcode!important;
            &:hover, &.clicked {
              color: $colorcode!important;
              border-color: $colorcode!important;
              background: transparent!important;
            }
          }
        }
      }
      input[type="radio"]+label.#{$colorname} {
        &-btn {
          color: $colorcode!important;
          border-color: $colorcode!important;
          &:hover {
            color: $colortext!important;
            background: $colorcode!important;
            border-color: $colorcode!important;
          }
          &-bg {
            color: $colortext!important;
            border-color: $colorcode!important;
            background: $colorcode!important;
            &:hover {
              color: $colorcode!important;
              border-color: $colorcode!important;
              background: transparent!important;
            }
          }
        }
      }
      input[type="radio"]:checked+label.#{$colorname} {
        &-btn {
          color: $colortext!important;
          background: $colorcode!important;
          border-color: $colorcode!important;
          &-bg {
            color: $colorcode!important;
            border-color: $colorcode!important;
            background: transparent!important;
          }
        }
      }
    }

    /* gradients */
    .grad-f2s {
      @include gradient(135deg, $f2s);
    }
    .grad-f2t {
      @include gradient(135deg, $f2t);
    }
    .grad-s2t {
      @include gradient(135deg, $s2t);
    }
    .grad-t2f {
      @include gradient(135deg, $t2f);
    }
    
    .grad-main {
      @include gradient(135deg, $gradMain);
    }
    .grad-second {
      @include gradient(135deg, $gradSecond);
    }
    .grad-third {
      @include gradient(135deg, $gradThird);
    }
    .grad-fourth {
      @include gradient(135deg, $gradFourth);
    }

    .grad-fw-down-w {
      @include gradient(0deg, $gradFalseWhiteToWhite);
    }
    .grad-fw-up-w {
      @include gradient(180deg, $gradFalseWhiteToWhite);
    }


  }
}
