
/* THIS WEBSITE STYLING STYLING */

:root {

}

body {
  &.mini {

    #cart-side {
      @include mdDown {
        position: fixed;
        bottom: 0;
        left: calc( var(--margin) * 0.5 );
        right: calc( var(--margin) * 0.5 );
        height: 65%;
        transform: translate(0, 90%);
        margin: 0;
        z-index: 1;
        overflow-y: scroll;
        border: 2px solid var(--main-color-dark);
        &.focus {
          transform: translate(0, calc( var(--margin) * 0.5 * -1 ));
        }
      }
      &.floating {
        @include md {
          position: fixed;
          top: calc( (var(--logo-height)) + (var(--margin)*2) + (var(--padding)*2) );
          right: var(--margin);
        }
      }
    }

  }
}
