// MARGINS & PADDINGS

// margins
.m {
  @each $marginLabel, $margin in $marginThickness {
    &-#{$marginLabel} {
      margin: #{$margin}!important;
    }
  }
  &t {
    @each $marginLabel, $margin in $marginThickness {
      &-#{$marginLabel} {
        margin-top: #{$margin}!important;
      }
    }
  }
  &e, &r {
    @each $marginLabel, $margin in $marginThickness {
      &-#{$marginLabel} {
        margin-right: #{$margin}!important;
      }
    }
  }
  &b {
    @each $marginLabel, $margin in $marginThickness {
      &-#{$marginLabel} {
        margin-bottom: #{$margin}!important;
      }
    }
  }
  &s, &l {
    @each $marginLabel, $margin in $marginThickness {
      &-#{$marginLabel} {
        margin-left: #{$margin}!important;
      }
    }
  }
  &y, &v {
    @each $marginLabel, $margin in $marginThickness {
      &-#{$marginLabel} {
        margin-top: #{$margin}!important;
        margin-bottom: #{$margin}!important;
      }
    }
  }
  &x, &h {
    @each $marginLabel, $margin in $marginThickness {
      &-#{$marginLabel} {
        margin-left: #{$margin}!important;
        margin-right: #{$margin}!important;
      }
    }
  }

}

// paddings
.p {
  @each $paddingLabel, $padding in $paddingThickness {
    &-#{$paddingLabel} {
      padding: #{$padding}!important;
    }
  }
  &t {
    @each $paddingLabel, $padding in $paddingThickness {
      &-#{$paddingLabel} {
        padding-top: #{$padding}!important;
      }
    }
  }
  &e, &r {
    @each $paddingLabel, $padding in $paddingThickness {
      &-#{$paddingLabel} {
        padding-right: #{$padding}!important;
      }
    }
  }
  &b {
    @each $paddingLabel, $padding in $paddingThickness {
      &-#{$paddingLabel} {
        padding-bottom: #{$padding}!important;
      }
    }
  }
  &s, &l {
    @each $paddingLabel, $padding in $paddingThickness {
      &-#{$paddingLabel} {
        padding-left: #{$padding}!important;
      }
    }
  }
  &y, &v {
    @each $paddingLabel, $padding in $paddingThickness {
      &-#{$paddingLabel} {
        padding-top: #{$padding}!important;
        padding-bottom: #{$padding}!important;
      }
    }
  }
  &x, &h {
    @each $paddingLabel, $padding in $paddingThickness {
      &-#{$paddingLabel} {
        padding-left: #{$padding}!important;
        padding-right: #{$padding}!important;
      }
    }
  }

}