
body {
    &.mini {
        // hidden & shown
        .hidden {
            display: block!important;
            opacity: 0!important;
            visibility: hidden!important;
            width: 0!important;
            height: 0!important;
            transition: all 0.15s ease;
            margin:0!important;
            padding:0!important;
            min-width: 0!important;
            min-height: 0!important;
            overflow: hidden;
            border:0!important;
        }
        .shown {
            opacity: 1!important;
            visibility: visible!important;
            transition: all 0.15s ease;
        }
        &.top {
            .top-hidden, .scroll-shown {
            display: block!important;
            opacity: 0!important;
            visibility: hidden!important;
            width: 0!important;
            height: 0!important;
            transition: all 0.15s ease;
            margin:0!important;
            padding:0!important;
            min-width: 0!important;
            min-height: 0!important;
            overflow: hidden;
            border:0!important;
            }
            .top-shown, .scroll-hidden {
            opacity: 1!important;
            visibility: visible!important;
            transition: all 0.15s ease;
            }
        }
        &.scroll {
            .top-shown, .scroll-hidden {
            display: block!important;
            opacity: 0!important;
            visibility: hidden!important;
            width: 0!important;
            height: 0!important;
            transition: all 0.15s ease;
            margin:0!important;
            padding:0!important;
            min-width: 0!important;
            min-height: 0!important;
            overflow: hidden;
            border:0!important;
            }
            .top-hidden, .scroll-shown {
            opacity: 1!important;
            visibility: visible!important;
            transition: all 0.15s ease;
            }
        }
    }
}
    