// BASICS

// Small devices UP // 576px up
$screen-sm: 576px;
@mixin sm {
   @media (min-width: #{$screen-sm}) {
       @content;
   }
}
// Medium devices UP // 768px up
$screen-md: 768px;
@mixin md {
   @media (min-width: #{$screen-md}) {
       @content;
   }
}
// Large devices UP // 992px up
$screen-lg: 992px;
@mixin lg {
   @media (min-width: #{$screen-lg}) {
       @content;
   }
}
// Extra large devices UP // 1200px up
$screen-xl: 1200px;
@mixin xl {
   @media (min-width: #{$screen-xl}) {
       @content;
   }
}
// Extra large devices UP // 1200px up
$screen-xxl: 1920px;
@mixin xxl {
   @media (min-width: #{$screen-xxl}) {
       @content;
   }
}


// header
header#header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  transition: background-color 0.2s ease-out;
  &.top {
    &-wh {
      background: var(--white);
    }
    &-bk {
      background: var(--black);
    }
    &-col {
      background: var(--main-color);
    }
  }
  &.scroll {
    &-wh {
      background: var(--white);
    }
    &-bk {
      background: var(--black);
    }
    &-col {
      background: var(--main-color);
    }
  }
  &.neg, &.inv, &.top-neg, &.top-inv, &.top-bk, &.top-col {
    .brand {
      color: var(--white);
      a {
        .logo {
          filter: brightness(0) invert(1);
        }
        .site-title {
          color: var(--white);
        }
      }
      .site-description {
        color: var(--white);
      }
    }
  }
}

// brand

header#header {
  .brand {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    min-height: calc( (var(--padding) * 2 ) + var(--logo-height) );
    a {
      display: inline-block;
      .logo {
        transition: all 0.3s ease;
        min-height: var(--logo-height);
        height: var(--logo-height);
        width: auto;
      }
    }
    .site-title {
      display: inline-block;
      margin: 0 var(--margin) 0 0;
      position: relative;
      line-height: 1!important;
    }
  }
}
.scroll, .scrolled {
  .brand {
    min-height: calc( (var(--padding) * 2 ) + var(--scroll-logo-height) );
    a {
      .logo {
        min-height: var(--scroll-logo-height);
        height: var(--scroll-logo-height);
      }
    }
  }
  &.neg, &.inv, &.scroll-neg, &.scroll-inv, &.scroll-bk, &.scroll-col {
    .brand {
      color: var(--white);
      a {
        .logo {
          filter: brightness(0) invert(1);
        }
        .site-title {
          color: var(--white);
        }
      }
      .site-description {
        color: var(--white);
      }
    }
  }
}

#sheet {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  background: var(--sheet-color);
  transition: padding 0.2s ease-out;
  min-height: 100vh;
  overflow: hidden;
  @media only screen and (min-width: 992px) {
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: stretch;
  }
  &.open-menu {
    padding-top: calc((var(--menu-toggle-height)) + var(--margin) * 2 );
  }
  main {
    order: 3;
    background: var(--white);
    transition: flex 0.2s ease-out, border-radius 0.2s ease-out, box-shadow 0.2s ease-out;
    flex: 10;
    overflow: hidden;
    max-width: 100%;
  }
  aside#side-right, aside#side-left {
    transition: flex 0.2s ease-out;
    flex: 0 0 0;
    overflow: hidden;
  }
  aside#side-right {
    order: 2;
    @include lg {
      order: 3;
    }
  }
  aside#side-left {
    order: 1;
    @include lg {
      order: 1;
    }
  }
}

.open-menu {
  main {
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    -webkit-box-shadow: 0 0 10px 10px rgba(0 0 0 / 10%);
    -moz-box-shadow: 0 0 10px 10px rgba(0 0 0 / 10%);
    box-shadow: 0 0 10px 10px rgba(0 0 0 / 10%);
    flex: 10;
    order: 3;
    @include lg {
      order: 2;
    }
  }
  aside#side-right.open-menu, aside#side-left.open-menu {
    flex: 10;
    @include sm {
      flex: 3;
    }
    @include md {
      flex: 2.5;
    }
    @include xl {
      flex: 2;
    }
    @include xxl {
      flex: 1.5;
    }
  }
}

// top position
#top {
  position:absolute;
  height:0;
  width:0;
  top: 0;
}

// link to top
.top-link {
  width: calc( var(--baseline) * 4 );
  height: calc( var(--baseline) * 4 );
  background: var(--main-color);
  position: fixed!important;
  bottom: var(--padding);
  right: var(--padding);
  transition: all 0.3s ease;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 100;
  border: 2px solid var(--white);
  display: flex;
  align-items: center;
  align-content: center;  
  &:hover {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  p {
    font-weight:700;
    text-align: center;
    color: var(--white);
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1;
    width: 100%;
  }
}

body.top .top-link {
  opacity: 0;
  visibility: hidden;
}

body.scroll .top-link {
  opacity: 1;
  visibility: visible;
}

// loader
.loader {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: var(--white);
  z-index: 109;
  opacity: 1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  scale: 1;
  transition: transform 0.15s ease-in, opacity 0.15s ease-in, filter 0.15s ease-in;
  img.loader-logo {
    display: block;
    width: 100px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.done {
    transform: translate(0, -200%);
    opacity: 0;
    filter: blur(320px);
  }
  &.gone {
    display: none;
  }
}

.space-bot-action {
  padding-bottom: calc( var(--margin) + var(--margin) + ( var(--padding) * 0.5 ) + 48px );
}

// footer
footer#footer {
  .footer-logo {
    img.logo {
      &.emblem {
        width: 66.666666%;
        height: auto;
        display: block;
        filter: grayscale(100%);
        opacity: 0.1;
        transition: all 0.3s ease;
        margin: 0 auto;
        &:hover {
          filter: grayscale(0);
          opacity:1;
        }
      }
      &.logotype {
        height: auto;
        width: 100%;
        display: block;
        filter: grayscale(100%);
        opacity: 0.1;
        transition: all 0.3s ease;
        margin: 0 auto;
        &:hover {
          filter: grayscale(0);
          opacity:1;
        }
      }
    }
  }
}
