// BORDERS

$thickness: ('1':1px, '2':2px, '3':3px, '4':4px, '5':5px, '10':10px);
$borderRadius: ('0':0, '1':1px, '2':2px, '3':3px, '4':4px, '5':5px, '10':10px, '15':15px, '20':20px, '25':25px, '30':30px, '50':50px, 'round':50%);
@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.border {
  border-width: 1px;
  border-style: solid;
  border-color: var(--light-grey);

  @each $bordWidthLabel, $bordWidth in $thickness {   
    &-#{$bordWidthLabel} {
      @extend .border;
      border-width: $bordWidth!important;
    }
  }
/*
$sides: (
  't':'top',
  'e':'right',
  'r':'right',
  'b':'bottom',
  's':'left',
  'l':'left',
);
*/
  //@each $sideLabel, $side in $sides {
  //  &-#{$sideLabel} {
  //    @extend .border;
  //    border-width: 0;
  //    border-#{$side}-width: 1px!important;
  //    @each $bordWidthLabel, $bordWidth in $thickness {   
  //      &-#{$bordWidthLabel} {
  //        @extend .border;
  //        border-width: 0;
  //        border-#{$side}-width: $bordWidth!important;
  //      }
  //    }
  //  }
  //}

}

// border radius
@each $borderRadiusLabel, $borderRadiusAngle in $borderRadius {
  .b-rad-, .border-radius- {
    &#{$borderRadiusLabel} {
      @include borderRadius(#{$borderRadiusAngle});
    }
  }
}