.boxes {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  //--gap: calc(var(--basic-gap) * 1);
  --gap-y: calc(var(--gap) * 1);
  --gap-x: calc(var(--gap) * 1);
  gap: var(--gap-y) var(--gap-x);
}