// BUTTONS

$colors: //color name, color code, text color over color
  "wh" var(--white) var(--black),
  "white" var(--white) var(--black),
  "false-white" var(--false-white) var(--black),
  "light-grey" var(--light-grey) var(--black),
  "grey" var(--grey) var(--white),
  "dark-grey" var(--dark-grey) var(--white),
  "false-black" var(--false-black) var(--white),
  "bk" var(--black) var(--white),
  "black" var(--black) var(--white),
  "col" var(--main-color) var(--white),
  "color" var(--main-color) var(--white),
  "main-color" var(--main-color) var(--white),
  "color-dark" var(--main-color-dark) var(--white),
  "main-color-dark" var(--main-color-dark) var(--white),
  "second-color" var(--second-color) var(--white),
  "second-color-dark" var(--second-color-dark) var(--white),
  "third-color" var(--third-color) var(--white),
  "third-color-dark" var(--third-color-dark) var(--white),
  "fourth-color" var(--fourth-color) var(--white),
  "fourth-color-dark" var(--fourth-color-dark) var(--white),
  "info" var(--info) var(--white),
  "success" var(--success) var(--white),
  "warning" var(--warning) var(--white),
  "danger" var(--danger) var(--white),
  "bad" var(--bad) var(--white),
  "acid-green" var(--acid-green) var(--white),
  "gingerbread" var(--gingerbread) var(--white),

  "mini" var(--mini-color) var(--white),
  "mini-dark" var(--mini-color-dark) var(--white),
  "mini-second" var(--mini-second) var(--white),
  "mini-third" var(--mini-third) var(--white),
  "mini-fourth" var(--mini-fourth) var(--white),

  "uwa" var(--uwa-color) var(--white),
  "uwa-dark" var(--uwa-color-dark) var(--white),
  "uwa-second" var(--uwa-second-color) var(--white),
  "uwa-third" var(--uwa-third-color) var(--white),
  "uwa-fourth" var(--uwa-fourth-color) var(--white),
  "uwa-link" var(--uwa-link-color) var(--white);

  //"aroma" var(--aroma-color) var(--white),
  //"aroma-dark" var(--aroma-color-dark) var(--white),

  //"pdp" var(--pezzidipla-color) var(--white),
  //"pdp-second" var(--pezzidipla-second-color) var(--white),
  //"pdp-third" var(--pezzidipla-third-color) var(--white),
  //"pdp-fourth" var(--pezzidipla-fourth-color) var(--white),

  //"lns" var(--lanuovastartup-color) var(--white),
  //"lns-dark" var(--lanuovastartup-color-dark) var(--white),

  //"dt" var(--doingthings-color) var(--black);

@each $colorname, $colorcode, $colortext in $colors {
  .#{$colorname} {
      &-btn {
          --button-text-color: #{$colortext}!important;
          --button-background-color: #{$colorcode}!important;
          --button-border-color: #{$colorcode}!important;
          --button-hover-text-color: #{$colorcode}!important;
          --button-hover-background-color: #{$colortext}!important;
          --button-hover-border-color: #{$colorcode}!important;
      }
  }
}
button, .btn {
  --button-text-color: var(--white);
  --button-background-color: var(--link-color);
  --button-border-color: var(--link-color);
  --button-hover-text-color: var(--link-color);
  --button-hover-background-color: transparent;
  --button-hover-border-color: var(--link-color);
  font-size: var(--p);
  line-height: calc( var(--p) * 1.5 );
  width: auto;
  padding: calc(var(--padding) * 0.5) calc(var(--padding) * 1);
  display: inline-block;
  margin: calc( var(--margin) * 0.5 ) calc( var(--margin) * 1 ) calc( var(--margin) * 0.5 ) 0;
  border: 1px solid;
  transition: color ease-out 0.15s, background-color ease-out 0.15s, border-color ease-out 0.15s, box-shadow ease-out 0.15s;
  cursor: pointer;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  &.hard {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  &.smooth {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  &.round {
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    border-radius: 250px;
  }
  &:last-child {
    margin-right: 0;
  }
  color: var(--button-text-color);
  background: var(--button-background-color);
  border-color: var(--button-border-color);
  &:hover {
    color: var(--button-text-color);
    background: var(--button-background-color);
    border-color: var(--button-border-color);
    box-shadow: 0 0 15px -5px var(--button-border-color);
  }
  &.clicked, &.active {
    color: var( --button-hover-text-color);
    background: var(--button-hover-background-color);
    border-color: var(--button-hover-border-color);
  }
  &.invert {
    color: var( --button-hover-text-color);
    //background: var(--button-hover-background-color);
    background: transparent;
    border-color: var(--button-hover-border-color);
    &.clicked, &.active {
      color: var(--button-text-color);
      background: var(--button-background-color);
      border-color: var(--button-border-color);
    }
  }
  &.xs, &.XS {
    padding: calc(var(--padding)*.125) calc(var(--padding)*.25);
    margin: calc(var(--margin) * .25) 0;
    margin: calc(var(--margin) * .25) calc(var(--margin) * 0.25) calc(var(--margin) * .25) 0;
  }
  &.s, &.S {
    padding: calc(var(--padding)*.25) calc(var(--padding)*.5);
    margin: calc(var(--margin) * .35) 0;
    margin: calc(var(--margin) * .35) calc(var(--margin) * 0.5) calc(var(--margin) * .35) 0;
  }
  &.l, &.L {
    padding: calc(var(--padding)*0.625) calc(var(--padding)*1.125);
    margin: calc(var(--margin) * .75) 0;
    margin: calc(var(--margin) * .75) calc(var(--margin) * 1.125) calc(var(--margin) * .75) 0;
  }
  &.xl, &.XL {
    padding: calc(var(--padding)*0.85) calc(var(--padding)*1.35);
  }
  &.xxl, &.XXL {
    padding: calc(var(--padding)*1.25) calc(var(--padding)*1.75);
  }
  &.clicking {
    animation-name: clickingAnimation;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    @-webkit-keyframes clickingAnimation {
      from {
        box-shadow:0 0 15px -5px var(--button-border-color), 0 0 0 var(--button-border-color);
      }
      to {
        box-shadow:0 0 15px -5px var(--button-border-color), 0 0 10px 10px rgb(255 255 255 / 0%)
      }
    }
  }
  &-grad {
    border-color: var(--main-color);
    transition: border-color 0.25s ease-out, background-position 0.25s ease-out, background-color 0.25s ease-out;
    background-size: 200%!important;
    background-position: 1%;
    background-repeat: repeat;
    background: 
      linear-gradient(125deg,var(--main-color) 0%, var(--second-color) 100%),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 1080 1080' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    &:hover {
      border-color: var(--second-color);
      background-position: 99%!important;
      background: 
        linear-gradient(125deg,var(--main-color) 0%, var(--second-color) 100%),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 1080 1080' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    }
  }
  &-grad-second {
    border-color: var(--third-color);
    transition: border-color 0.25s ease-out, background-position 0.25s ease-out, background-color 0.25s ease-out;
    background-size: 200%!important;
    background-position: 1%;
    background-repeat: repeat;
    background: 
      linear-gradient(125deg,var(--third-color) 0%, var(--fourth-color) 100%),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 1080 1080' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    &:hover {
      border-color: var(--fourth-color);
      background-position: 99%!important;
      background: 
        linear-gradient(125deg,var(--third-color) 0%, var(--fourth-color) 100%),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 1080 1080' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    }
  }
}

.pointer, .clickable, .cursor-pointer {
  cursor: pointer;
}
