// COLORS

$colors: //color name, color code, text color over color
  "wh" var(--white) var(--black),
  "white" var(--white) var(--black),
  "fw" var(--false-white) var(--black),
  "false-white" var(--false-white) var(--black),
  "light-grey" var(--light-grey) var(--black),
  "grey" var(--grey) var(--white),
  "dark-grey" var(--dark-grey) var(--white),
  "fb" var(--false-black) var(--white),
  "false-black" var(--false-black) var(--white),
  "bk" var(--black) var(--white),
  "black" var(--black) var(--white),
  "col" var(--main-color) var(--white),
  "color" var(--main-color) var(--white),
  "main-color" var(--main-color) var(--white),
  "color-dark" var(--main-color-dark) var(--white),
  "main-color-dark" var(--main-color-dark) var(--white),
  "second-color" var(--second-color) var(--white),
  "second-color-dark" var(--second-color-dark) var(--white),
  "third-color" var(--third-color) var(--white),
  "third-color-dark" var(--third-color-dark) var(--white),
  "fourth-color" var(--fourth-color) var(--white),
  "fourth-color-dark" var(--fourth-color-dark) var(--white),
  "link" var(--link-color) var(--white),
  "link-hover" var(--link-hover-color) var(--white),
  //"link-color" var(--link-color) var(--white),
  //"link-hover-color" var(--link-hover-color) var(--white),
  "info" var(--info) var(--white),
  "success" var(--success) var(--white),
  "warning" var(--warning) var(--white),
  "danger" var(--danger) var(--white),
  "bad" var(--bad) var(--white),
  "acid-green" var(--acid-green) var(--white),
  "gingerbread" var(--gingerbread) var(--white),

  "mini" var(--mini-color) var(--white),
  "mini-dark" var(--mini-color-dark) var(--white),
  "mini-second" var(--mini-second) var(--white),
  "mini-third" var(--mini-third) var(--white),
  "mini-fourth" var(--mini-fourth) var(--white),

  "uwa" var(--uwa-color) var(--white),
  "uwa-dark" var(--uwa-color-dark) var(--white),
  "uwa-second" var(--uwa-second-color) var(--white),
  "uwa-third" var(--uwa-third-color) var(--white),
  "uwa-fourth" var(--uwa-fourth-color) var(--white),
  "uwa-link" var(--uwa-link-color) var(--white);

  //"aroma" var(--aroma-color) var(--white),
  //"aroma-dark" var(--aroma-color-dark) var(--white),

  //"pdp" var(--pezzidipla-color) var(--white),
  //"pdp-second" var(--pezzidipla-second-color) var(--white),
  //"pdp-third" var(--pezzidipla-third-color) var(--white),
  //"pdp-fourth" var(--pezzidipla-fourth-color) var(--white),

  //"lns" var(--lanuovastartup-color) var(--white),
  //"lns-dark" var(--lanuovastartup-color-dark) var(--white),

  //"dt" var(--doingthings-color) var(--black);

@each $colorname, $colorcode, $colortext in $colors {
  .#{$colorname} {
    // texts
    &-text {
      color: $colorcode!important;
      &-hover {
        &:hover {
          color: $colorcode!important;
        }
      }
      &-clicked {
        &.clicked {
          color: $colorcode!important;
        }
      }
      &-active {
        &.active {
          color: $colorcode!important;
        }
      }
    }
    // text boxes
    &-box {
      background: $colorcode!important;
      color: $colortext!important;
      padding: calc(var(--padding) * 0.5);
      display: inline-block;
      margin: 0 calc(var(--margin) * 0.25) calc(var(--margin) * 0.25) calc(var(--margin) * 0.25) calc(var(--margin) * 0.25);
      line-height: 0.8;
      &.S {
        padding: calc(var(--padding) * 0.25) calc(var(--padding) * 0.4);
        margin: 0 4px 4px 0;
      }
      &.XS {
        padding: calc(var(--padding) * 0.1) calc(var(--padding) * 0.2);
        margin: 0 4px 2px 0;
      }
      &-hover {
        &:hover {
          background: $colorcode!important;
          color: $colortext!important;
          padding: calc(var(--padding) * 0.5) calc(var(--padding) * 0.75);
          display: inline-block;
          margin: 0 6px 8px 0;
        }
      }
      &-clicked {
        &.clicked {
          background: $colorcode!important;
          color: $colortext!important;
          padding: calc(var(--padding) * 0.5) calc(var(--padding) * 0.75);
          display: inline-block;
          margin: 0 6px 8px 0;
        }
      }
      &-active {
        &.active {
          background: $colorcode!important;
          color: $colortext!important;
          padding: calc(var(--padding) * 0.5) calc(var(--padding) * 0.75);
          display: inline-block;
          margin: 0 6px 8px 0;
        }
      }
    }
    // backgrounds
    &-bg {
      background-color: $colorcode!important;
      &-hover, &-clicked, &-active {
        &:hover, &.clicked, &.active {
          background-color: $colorcode!important;
        }
      }
    }
    // borders
    &-border {
      @extend .border !optional;
      border-color: $colorcode!important;
      &-hover {
        &:hover {
          border-color: $colorcode!important;
        }
      }
      &-clicked {
        &.clicked {
          border-color: $colorcode!important;
        }
      }
      &-active {
        &.active {
          border-color: $colorcode!important;
        }
      }
    }
    // bubbles
    &-bubble {
      &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
      }
      &-top {
        &::after {
          @extend .#{$colorname}-bubble !optional;
          border-left: var(--baseline) solid transparent;
          border-right: var(--baseline) solid transparent;
          border-bottom: calc(var(--baseline)* 1.25) solid $colorcode;
          top: 0;
          left: 50%;
          transform: translate(-50%, -100%);
        }
        &-s {
          &::after {
            @extend .#{$colorname}-bubble !optional;
            border-left: calc(var(--baseline) * 0.5) solid transparent;
            border-right: calc(var(--baseline) * 0.5) solid transparent;
            border-bottom: calc(var(--baseline) * 0.5 * 1.25) solid $colorcode;
            top: 0;
            left: 50%;
            transform: translate(-50%, -100%);
          }
          &-left {
            &::after {
              @extend .#{$colorname}-bubble-top-s !optional;
              left: calc(var(--margin)* 1);
              transform: translate(0, -100%);
            }
          }
          &-right {
            &::after {
              @extend .#{$colorname}-bubble-top-s !optional;
              right: calc(var(--margin)* 1);
              transform: translate(0, -100%);
            }
          }
        }
        &-left {
          &::after {
            @extend .#{$colorname}-bubble-top !optional;
            left: calc(var(--margin)* 2);
            transform: translate(0, -100%);
          }
        }
        &-right {
          &::after {
            @extend .#{$colorname}-bubble-top !optional;
            right: calc(var(--margin)* 2);
            transform: translate(0, -100%);
          }
        }
      }
      &-bottom {
        &::after {
          @extend .#{$colorname}-bubble !optional;
          border-top: calc(var(--baseline)* 1.25) solid $colorcode;
          border-left: var(--baseline) solid transparent;
          border-right: var(--baseline) solid transparent;
          top: 100%;
          left: 50%;
          transform: translate(-50%, 0);
        }
        &-s {
          &::after {
            @extend .#{$colorname}-bubble !optional;
            border-top: calc(var(--baseline) * 0.5 * 1.25) solid $colorcode;
            border-left: calc(var(--baseline) * 0.5) solid transparent;
            border-right: calc(var(--baseline) * 0.5) solid transparent;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 0);
          }
          &-left {
            &::after {
              @extend .#{$colorname}-bubble-bottom-s !optional;
              left: calc(var(--margin)* 0.5);
              transform: translate(100%, 0);
            }
          }
          &-right {
            &::after {
              @extend .#{$colorname}-bubble-bottom-s !optional;
              right: calc(var(--margin)* 0.5);
              transform: translate(-100%, 0);
            }
          }
        }
        &-left {
          &::after {
            @extend .#{$colorname}-bubble-bottom !optional;
            left: calc(var(--margin)* 2);
            transform: none;
          }
        }
        &-right {
          &::after {
            @extend .#{$colorname}-bubble-bottom !optional;
            right: calc(var(--margin)* 2);
            transform: none;
          }
        }
      }
    }
  }
  /*
  input[type="radio"]+label.#{$colorname} {
    &-btn {
      color: $colorcode!important;
      border-color: $colorcode!important;
      &:hover {
        color: $colortext!important;
        background: $colorcode!important;
        border-color: $colorcode!important;
      }
      &-bg {
        color: $colortext!important;
        border-color: $colorcode!important;
        background: $colorcode!important;
        &:hover {
          color: $colorcode!important;
          border-color: $colorcode!important;
          background: transparent!important;
        }
      }
    }
  }
  input[type="radio"]:checked+label.#{$colorname} {
    &-btn {
      color: $colortext!important;
      background: $colorcode!important;
      border-color: $colorcode!important;
      &-bg {
        color: $colorcode!important;
        border-color: $colorcode!important;
        background: transparent!important;
      }
    }
  }
  */
}

// gradients

@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient($direction, $list)!important;
  background: -moz-linear-gradient($direction, $list)!important;
  background: -o-linear-gradient($direction, $list)!important;
  background: linear-gradient($direction, $list)!important;
}

$gradients:
  "1-to-2" (var(--main-color) 0%, var(--second-color) 100%),
  "f2s" (var(--main-color) 0%, var(--second-color) 100%),
  "1-to-3" (var(--main-color) 0%, var(--third-color) 100%),
  "f2t" (var(--main-color) 0%, var(--third-color) 100%),
  "1-to-4" (var(--main-color) 0%, var(--fourth-color) 100%),
  "2-to-3" (var(--second-color) 0%, var(--third-color) 100%),
  "s2t" (var(--second-color) 0%, var(--third-color) 100%),
  "3-to-4" (var(--third-color) 0%, var(--fourth-color) 100%),
  "t2f" (var(--third-color) 0%, var(--fourth-color) 100%),
  "main" (var(--main-color) 0%, var(--main-color-dark) 100%),
  "first" (var(--main-color) 0%, var(--main-color-dark) 100%),
  "second" (var(--second-color) 0%, var(--second-color-dark) 100%),
  "third" (var(--third-color) 0%, var(--third-color-dark) 100%),
  "fourth" (var(--fourth-color) 0%, var(--fourth-color-dark) 100%),
  "fw-down-w" (var(--white) 0%, var(--false-white) 100%),
  "fw-up-w" (var(--false-white) 0%, var(--white) 100%);

$grainy-gradients:
  "1-to-2" (color-mix(in srgb, var(--main-color) 85%, transparent) 0%, color-mix(in srgb, var(--second-color) 85%, transparent) 100%),
  "f2s" (color-mix(in srgb, var(--main-color) 85%, transparent) 0%, color-mix(in srgb, var(--second-color) 85%, transparent) 100%),
  "1-to-3" (color-mix(in srgb, var(--main-color) 85%, transparent) 0%, color-mix(in srgb, var(--third-color) 85%, transparent) 100%),
  "f2t" (color-mix(in srgb, var(--main-color) 85%, transparent) 0%, color-mix(in srgb, var(--third-color) 85%, transparent) 100%),
  "1-to-4" (color-mix(in srgb, var(--main-color) 85%, transparent) 0%, color-mix(in srgb, var(--fourth-color) 85%, transparent) 100%),
  "2-to-3" (color-mix(in srgb, var(--second-color) 85%, transparent) 0%, color-mix(in srgb, var(--third-color) 85%, transparent) 100%),
  "s2t" (color-mix(in srgb, var(--second-color) 85%, transparent) 0%, color-mix(in srgb, var(--third-color) 85%, transparent) 100%),
  "3-to-4" (color-mix(in srgb, var(--third-color) 85%, transparent) 0%, color-mix(in srgb, var(--fourth-color) 85%, transparent) 100%),
  "t2f" (color-mix(in srgb, var(--third-color) 85%, transparent) 0%, color-mix(in srgb, var(--fourth-color) 85%, transparent) 100%),
  "main" (color-mix(in srgb, var(--main-color) 85%, transparent) 0%, color-mix(in srgb, var(--main-color-dark) 85%, transparent) 100%),
  "first" (color-mix(in srgb, var(--main-color) 85%, transparent) 0%, color-mix(in srgb, var(--main-color-dark) 85%, transparent) 100%),
  "second" (color-mix(in srgb, var(--second-color) 85%, transparent) 0%, color-mix(in srgb, var(--second-color-dark) 85%, transparent) 100%),
  "third" (color-mix(in srgb, var(--third-color) 85%, transparent) 0%, color-mix(in srgb, var(--third-color-dark) 85%, transparent) 100%),
  "fourth" (color-mix(in srgb, var(--fourth-color) 85%, transparent) 0%, color-mix(in srgb, var(--fourth-color-dark) 85%, transparent) 100%),
  "fw-down-w" (color-mix(in srgb, var(--white) 85%, transparent) 0%, color-mix(in srgb, var(--false-white) 85%, transparent) 100%),
  "fw-up-w" (color-mix(in srgb, var(--false-white) 85%, transparent) 0%, color-mix(in srgb, var(--white) 85%, transparent) 100%);


@each $gradname, $gradstops in $gradients {
  .grad-#{$gradname} {
    @if $gradname == "fw-down-w" {
      @include gradient(0deg, $gradstops);
    } @else if $gradname == "fw-up-w" {
      @include gradient(180deg, $gradstops);
    } @else {
      @include gradient(135deg, $gradstops);
    }
  }
}

.grainy-grad {
    //filter: contrast(115%) brightness(115%);
    background-size: 50% auto!important;
    background-repeat: repeat;
    background: 
      linear-gradient(0deg, color-mix(in srgb, var(--second-color) 75%, transparent), color-mix(in srgb, var(--main-color) 75%, transparent)),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 1080 1080' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), 
      linear-gradient(0deg, color-mix(in srgb, var(--second-color) 75%, transparent), color-mix(in srgb, var(--main-color) 75%, transparent)),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 1080 1080' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
      linear-gradient(0deg, color-mix(in srgb, var(--second-color) 75%, transparent), color-mix(in srgb, var(--main-color) 75%, transparent)),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 1080 1080' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
@each $gradname, $gradstops in $grainy-gradients {
  .grainy-grad-#{$gradname} {
    //filter: contrast(115%) brightness(115%);
    background-size: 50% auto!important;
    background-repeat: repeat;
    background: 
      linear-gradient(0deg, $gradstops),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 1080 1080' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
      linear-gradient(0deg, $gradstops),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 1080 1080' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
      linear-gradient(0deg, $gradstops),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 1080 1080' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E")!important;
  }
}

.invert, .inv, .neg, .negative {
  filter: brightness(0) invert(1)!important;
}