// header
header#header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  transition: transform 0.25s ease-out;
  &.open-menu {
    position: relative;
    flex-basis: 100%;
  }
}
body.top {
  header#header {
    &.top {
      &-wh {
        background: var(--white);
      }
      &-bk {
        background: var(--black);
      }
      &-col {
        background: var(--main-color);
      }
    }
  }
}
body.scroll, body.scrolled {
  header#header {
    &.scroll {
      &-wh {
        background: var(--white);
      }
      &-bk {
        background: var(--black);
      }
      &-col {
        background: var(--main-color);
      }
    }
  }
}

