// header
header#header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  transition: background-color 0.2s ease-out;
}
body.top {
  header#header {
    &.top {
      &-wh {
        background: var(--white);
      }
      &-bk {
        background: var(--black);
      }
      &-col {
        background: var(--main-color);
      }
    }
  }
}
body.scroll, body.scrolled {
  header#header {
    &.scroll {
      &-wh {
        background: var(--white);
      }
      &-bk {
        background: var(--black);
      }
      &-col {
        background: var(--main-color);
      }
    }
  }
}

