// main
#sheet {
  main {
    order: 3;
    background: var(--white);
    transition: flex 0.2s ease-out, border-radius 0.2s ease-out, box-shadow 0.2s ease-out;
    flex: 10;
    overflow: hidden;
    min-width: 1px;
    @media only screen and (min-width: 992px) {
      order: 2;
    }
  }
}
body.open-menu {
  #sheet {
    main {
      -webkit-border-top-right-radius: 15px;
      -moz-border-radius-topright: 15px;
      border-top-right-radius: 15px;
      -webkit-border-top-left-radius: 15px;
      -moz-border-radius-topleft: 15px;
      border-top-left-radius: 15px;
      -webkit-box-shadow: 0 0 10px 10px rgba(0 0 0 / 10%);
      -moz-box-shadow: 0 0 10px 10px rgba(0 0 0 / 10%);
      box-shadow: 0 0 10px 10px rgba(0 0 0 / 10%);
      flex: 10;
      order: 3;
      margin: 0 var(--margin);
      @media only screen and (min-width: 992px) {
        order: 2;
      }
    }
  }
}
