// menu toggle

header#header {
    #menu-toggle {
        display:flex;
        flex-flow: column;
        justify-content: space-between;
        top: var(--margin);
        right: var(--margin);
        width: var(--menu-toggle-height);
        height: var(--menu-toggle-height);
        padding: calc( var(--menu-toggle-height) / 7 );
        margin: 0 0 0 0;
        z-index: 9;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        //transition: width 0.25s ease-out, height 0.25s ease-out, width 0.25s ease-out, transform 0.25s ease-out;
        transition: transform 0.25s ease-out;
        transform-origin: center center;
        cursor: pointer;
        .line {
            display: block;
            height: calc( var(--menu-toggle-height) / 8);
            width: 100%;
            margin: 0;
            background: var(--menu-toggle-color);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background-color: var(--menu-toggle-line-color);
            //transition: width 0.25s ease-out, height 0.25s ease-out, width 0.25s ease-out, transform 0.25s ease-out;
            transition: background-color 0.25s ease-out, transform 0.25s ease-out, width 0.25s ease-out;
            &:first-child {
                background-color: var(--menu-toggle-line-special-color);
            }
        }
        &:hover, &.clicked {
            .line {
                width: 70%;
                &:first-child {
                    width: 100%;
                }
                &:last-child {
                    width: 85%;
                }
            }
        }
        &.clicked {
            transform: rotate(90deg);
            .line {
                background: var(--white);
                &:first-child {
                    background-color: var(--white);
                }
            }
        }
    }
    &.open-menu {
        #menu-toggle {
        }
    }
    &.neg, &.inv {
        #menu-toggle {
            background: var(--menu-toggle-color);
            .line {
                background: var(--white);
            }
        }
    }
}
body.top {
    header#header {
        &.top-neg, &.top-inv, &.top-bk, &.top-col {
            #menu-toggle {
                background: var(--menu-toggle-color);
                .line {
                    background: var(--white);
                }
            }
        }
        &.open-menu {
            &.neg, &.inv, &.top-neg, &.top-inv, &.scroll-neg, &.scroll-inv {
                #menu-toggle {
                    background: var(--transp);
                }
            }
            #menu-toggle {
                .line {
                    background: var(--white);
                }
            }
        }
    }
} 
body.scroll.closed-menu, body.scrolled.closed-menu {
    header#header {
        #menu-toggle {
            width: var(--scroll-menu-toggle-height);
            height: var(--scroll-menu-toggle-height);
            padding: calc( var(--scroll-menu-toggle-height) / 7 );
            .line {
                height: calc( var(--scroll-menu-toggle-height) / 8);
            }
        }
        &.scroll-neg, &.scroll-inv, &.scroll-bk, &.scroll-col {
            #menu-toggle {
                background: var(--menu-toggle-color);
                .line {
                    background: var(--white);
                }
            }
        }
    }
}
