// MENUs STYLING

// Small devices UP // 576px up
$screen-sm: 576px;
@mixin sm {
   @media (min-width: #{$screen-sm}) {
       @content;
   }
}
// Medium devices UP // 768px up
$screen-md: 768px;
@mixin md {
   @media (min-width: #{$screen-md}) {
       @content;
   }
}
// Large devices UP // 992px up
$screen-lg: 992px;
@mixin lg {
   @media (min-width: #{$screen-lg}) {
       @content;
   }
}
// Extra large devices UP // 1200px up
$screen-xl: 1200px;
@mixin xl {
   @media (min-width: #{$screen-xl}) {
       @content;
   }
}
// Extra large devices UP // 1200px up
$screen-xxl: 1920px;
@mixin xxl {
   @media (min-width: #{$screen-xxl}) {
       @content;
   }
}

// header menus
header#header {
  .menus {
    padding: 0;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
  }
}

// Menu open
#sheet {
  aside#side-right, aside#side-left {
    nav.menu {
      ul.menu {
        li {
          &.item, &.menu-item {
            a {
              color: var(--white);
            }
          }
        }
      }
    }
    &.inv, &.neg {
      nav.menu {
        ul.menu {
          li {
            &.item, &.menu-item {
              a {
                color: var(--false-black);
              }
            }
          }
        }
      }
    }
  }
}

// menu
nav.menu {
  display: flex;
  margin: var(--margin) 0;
  ul.menu {
    list-style-type: none;
    display: flex;
    margin: 0 0 calc( var(--margin) * 1 ) 0;
    padding: 0 var(--padding);
    flex-flow: column nowrap;
    width: 100%;
    &.column {
      flex-flow: column nowrap;
    }
    &.row {
      flex-flow: row wrap;
    }
    li.item, li.menu-item {
      display: block;
      font-weight: 700;
      font-size: var(--h6);
      line-height: 1.5;
      margin:0;
      background: transparent;
      padding:0;
      @media only screen and (min-width: 576px) {
        font-size: var(--h5);
      }
      @media only screen and (min-width: 768px) {
        font-size: var(--p);
        padding: calc(var(--padding)*.5) calc(var(--padding)*.75);
      }
      a {
        display: block;
        position: relative;
        padding: var(--padding);
        margin: calc(var(--margin) * 0.5 ) 0;
        @media only screen and (min-width: 576px) {
          padding: calc(var(--padding) * 0.75 );
          margin: calc(var(--margin) * 0.75 ) 0;
        }
        @media only screen and (min-width: 768px) {
          color: var(--black);
          display: inline-block;
          margin: 0;
          padding: 0;
        }
        &::after {
          content:"";
          display: block;
          position: absolute;
          height: 2px;
          width: 0;
          background-color: var(--white);
          bottom: -2px;
          left:0;
          transition: background-color 0.25s ease, width 0.25s ease;
          border-radius: 2px;
          @media only screen and (min-width: 768px) {
            background: var(--link-link-color);
          }
        }
      }
      &.active > a, &.selected > a, &.router-link-active > a, a.active, a.selected, a.router-link-active, &.current-menu-item > a, &.current-page-parent > a {
        background-color: var(--link-hover-color);
        color: var(--white);
        @media only screen and (min-width: 768px) {
          color: var(--link-hover-color);
          background-color: transparent;
        }
        &::after {
          width: 0;
          background-color: var(--link-hover-color);
          @media only screen and (min-width: 768px) {
            width: 100%;
            background-color: var(--link-hover-color);
          }
        }
      }
      &:hover > a {
        background-color: var(--link-color);
        color: var(--white);
        @media only screen and (min-width: 768px) {
          color: var(--link-color);
          background-color: transparent;
        }
        &::after {
          width: 0;
          background-color: var(--link-color);
          @media only screen and (min-width: 768px) {
            width: 100%;
            background-color: var(--link-color);
          }
        }
      }
    }
  }
}

// dropdown menu
ul {
  li {
    ul {
      &.drop-down, &.dropdown, &.sub-menu {
        display: none;
      }
    }
    &.drop-down, &.dropdown, &.menu-item-has-children {
      position: relative;
      ul {
        &.drop-down, &.dropdown, &.sub-menu {
          display: flex;
          align-items: flex-start;
          flex-flow: row;
          padding-left: calc( var(--padding) * 0.5 );
          @include md {
            flex-flow: column;
          }
          li, li.item, li.menu-item, li.menu-sub-item, li.sub-menu-item {
            font-size: var(--p);
            line-height: 1.5;
            margin: 0 var(--margin) var(--margin) 0;
            @include md {
              margin: 0;
            }
            a {
              color: var(--black);
              transform: translate(0,0);
              padding-top: 0 calc( var(--padding) * 0.5 );
            }
          }
        }
      }
      &:hover {
        &::before {
          content: "";
          width: 100%;
          height: 200%;
          display: block;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
          top: 0;
        }
        ul {
          &.drop-down, &.dropdown {
            // shown
            opacity: 1;
            visibility: visible;
            transition: all 0.3s ease;
            width: auto;
            height: auto;
            padding: var(--padding) calc(var(--padding)*1.5);
            min-width: 220px;
          }
        }
      }
    }
  }
}

// main menu
ul#main-menu {
  padding: var(--padding);
  @include md {
    padding: calc( var(--padding) * 2 ) var(--padding);
  }
  li.item, li.menu-item {
    font-size: var(--h3);
    a {
      color: var(--white);
      &::after {
        height: 4px;
        bottom: -4px;
      }
    }
    ul.sub-menu {
      li {
        font-size: var(--h4);
      }
    }
  }
}

// admin menu
ul#admin-menu {
  margin: 0 calc(var(--margin)* 2) calc(var(--margin)* 2) calc(var(--margin)* 2);
  padding: var(--padding);
  background-color: var(--mini-color);
  li.item, li.menu-item {
    &.active, &.current-item, &:hover {
      background-color: var(--mini-color-dark);
    }
    &.active > a, &.current-menu-item > a, &.current-page-parent > a, a.active, &:hover > a {
      &::after {
        background-color: var(--white);
      }
    }
  }
}

// social menu
nav#social-menu ul {
  flex-flow: row wrap;
}

// language menu
ul#lang-menu {
  flex-flow: row wrap;
  li.item, li.menu-item {
    display: inline-block;
  }
}