// RESET

*, *::after,*::before{
  box-sizing:border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-smooth: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  //scroll-behavior: smooth;
  margin:0;
  padding:0;
  max-width: 100%;
  overflow-x: clip;
}

* {
    scrollbar-width: none;
    &::-webkit-scrollbar { display: none; }
}

// text selection
::-moz-selection { background: var(--text-selection-bg); color: var(--text-selection-color); }
::selection { background: var(--text-selection-bg); color: var(--text-selection-color); }
.link-text::-moz-selection, .link-box::-moz-selection, .link-bg::-moz-selection, a::-moz-selection, .btn::-moz-selection { background: rgba(0,0,0,0.4); color: var(--text-selection-color); }
.link-text::selection, .link-box::selection, .link-bg::selection, a::selection, .btn::selection { background: rgba(0,0,0,0.4); color: var(--text-selection-color); }

body {
  
  padding: 0;
  margin: 0;
  position: relative;
  max-width: 100%;
  overflow-x: clip;
  line-height: 1.4;
  font-family: var(--font);
  color: var(--black);

  section {
    position: relative;
  }

}