// hidden & shown

@mixin hidden-state {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
  width: 0 !important;
  height: 0 !important;
  min-width: 0 !important;
  min-height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  border: 0 !important;
}

@mixin shown-state {
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: auto !important;
}

.hidden { @include hidden-state; }
.shown  { @include shown-state;  }

body.top {
  .top-hidden, .scroll-shown { @include hidden-state; }
  .top-shown,  .scroll-hidden { @include shown-state;  }
}

body.scroll {
  .top-shown,  .scroll-hidden { @include hidden-state; }
  .top-hidden, .scroll-shown  { @include shown-state;  }
}