// TYPOS

// fluid typography

$min_screen: 576px; // 576px
$max_screen: 1400px; // 1400px
$min_font: 0.875rem; // 14px
$max_font: 1rem; // 16px
$mob_font: 0.875rem; // 15px

@use 'sass:math';

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value, $mob-value) {
  & {
    @each $property in $properties {
      #{$property}: $mob-value;
    }

    @media screen and (min-width: $min-vw) {
      @each $property in $properties {
        #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
    }

    @media screen and (min-width: $max-vw) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
}

@function strip-unit($value) {
  @return math.div( $value, ($value * 0 + 1) );
}

:root {
  @include fluid-type(--font-size, $min_screen, $max_screen, $min_font, $max_font, $mob_font);
}

html {
  font-size: var(--font-size);
}

p {
  font-size: var(--p);
  line-height: calc(var(--p) * 1.5);
  margin-bottom: var(--baseline);
  font-family: var(--font);
  color: var(--false-black);
}

p {
  &:first-child {
    margin-top: 0 !important;
  }
  &:last-child {
    margin-bottom: 0 !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  &:first-child {
    margin-top: 0 !important;
  }
}

h1, h2, h3, h4, h5, h6, p, li, code, span, i, b, u, a, label {
  &.thin, &.text-thin {
    font-weight: 100;
  }
  &.light, &.text-light {
    font-weight: 300;
  }
  &.regular, &.text-regular {
    font-weight: 400;
  }
  &.semibold, &.text-semibold {
    font-weight: 600;
  }
  &.bold, &.text-bold {
    font-weight: 700;
  }
  &.black, &.text-black {
    font-weight: 900;
  }

  &.italic {
    font-style: italic;
  }
  
  &.underline {
    text-decoration: underline;
  }

  &.left, &.text-start {
    text-align: left;
  }
  &.center, &.text-center {
    text-align: center;
  }
  &.right, &.text-end {
    text-align: right;
  }
  &.vertical-align-top {
    vertical-align: top;
  }
  &.vertical-align-middle {
    vertical-align: middle;
  }
  &.vertical-align-bottom {
    vertical-align: bottom;
  }

  &.sans, &.text-sans {
    font-family: var(--font-sans);
  }
  &.serif, &.text-serif {
    font-family: var(--font-serif);
  }
  &.handwriting, &.text-serif {
    font-family: var(--font-handwriting);
  }
  &.mono, &.text-mono {
    font-family: var(--font-mono);
  }
  &.font-two, &.font-titles, &.font-title, &.title, &.text-second-font {
    font-family: var(--font-two);
  }
  .title {
    font-family: var(--title-font);
  }

}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--false-black);
  font-family: var(--title-font);
}

h1 {
  font-size: var(--h1);
  line-height: calc(var(--h1) * 1.25);
  margin-top: 0;
  margin-bottom: calc( var(--baseline) * 2 );
}

h2 {
  font-size: var(--h2);
  line-height: calc(var(--h2) * 1.25);
  margin-top: 0;
  margin-bottom: calc( var(--baseline) * 1.8 );
}

h3 {
  font-size: var(--h3);
  line-height: calc(var(--h3) * 1.25);
  margin-top: 0;
  margin-bottom: calc( var(--baseline) * 1.6 );
}

h4 {
  font-size: var(--h4);
  line-height: calc(var(--h4) * 1.25);
  margin-top: 0;
  margin-bottom: calc( var(--baseline) * 1.5 );
}

h5 {
  font-size: var(--h5);
  line-height: calc(var(--h5) * 1.25);
  margin-top: 0;
  margin-bottom: calc( var(--baseline) * 1.4 );
}

h6 {
  font-size: var(--h6);
  line-height: calc(var(--h6) * 1.25);
  margin-top: 0;
  margin-bottom: calc( var(--baseline) * 1.3 );
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    color: var(--link-hover-color);
  }
}

ul, ol {
  margin: var(--margin) 0;
  padding: 0 0 0 calc(var(--padding) * 2);
  @media only screen and (min-width:992px) {
    margin: calc( var(--margin) * 1.5 ) 0;
    padding: 0 var(--padding) 0 calc(var(--padding) * 2);
  }
  li {
    margin: calc( var(--margin) * 0.5 ) 0;
    font-size: var(--p);
    line-height: calc(var(--p) * 1.5);
    &::marker {
      color: var(--main-color);
    }
  }
}

ol {
  li {
    &::marker {
      font-size: var(--h4);
      font-weight: 700;
      color: var(--main-color);
      position: relative;
    }
  }
}

pre, .pre {
  padding: var(--padding);
  background: var(--false-black);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  font-family: var(--font-mono);
  font-size: calc(var(--p) * 0.85);
  margin: calc(var(--margin) * 1.5) 0;
  overflow-x: auto;
  color: var(--white);
  white-space: pre-line;
}

code, .code {
  padding: calc( var(--padding) * 1 );
  background: var(--false-black);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  font-family: var(--font-mono);
  font-size: calc(var(--p)*.85);
  line-height: calc(var(--p) * 1);
  margin: 0 calc(var(--margin)*0.6);
  overflow-x: auto;
  color: var(--white);
}

blockquote {
  padding: calc(var(--padding) * 4) calc(var(--padding) * 6);
  margin: calc(var(--margin) * 1.5) calc(var(--margin) * 1.5) calc(var(--margin) * 2) calc(var(--margin) * 1.5);
  position: relative;
  &::before {
    content: "“";
    position: absolute;
    color: var(--main-color);
    font-size: 5rem;
    line-height: 5rem;
    text-align: center;
    height: 35px;
    width: 35px;
    display: block;
    top: 15px;
    left: -17.5px;
    opacity: 0.8;
  }
  &::after {
    content:"”";
    position: absolute;
    color: var(--main-color);
    font-size: 5rem;
    line-height: 5rem;
    text-align: center;
    height: 35px;
    width: 35px;
    display: block;
    bottom: 15px;
    right: -17.5px;
    opacity: 0.8;
  }
}

.label {
  color: var(--grey);
}
// font size
.p {
  font-size: var(--p);
  line-height: calc(var(--p) * 1.5);
}
.h1 {
  font-size: var(--h1);
  line-height: calc(var(--h1) * 1.25);
}
.h2 {
  font-size: var(--h2);
  line-height: calc(var(--h2) * 1.25);
}
.h3 {
  font-size: var(--h3);
  line-height: calc(var(--h3) * 1.25);
}
.h4 {
  font-size: var(--h4);
  line-height: calc(var(--h4) * 1.25);
}
.h5 {
  font-size: var(--h5);
  line-height: calc(var(--h5) * 1.25);
}
.h6 {
  font-size: var(--h6);
  line-height: calc(var(--h6) * 1.25);
}
// super small text
.XS, .xs {
  font-size: calc(var(--p) * 0.7)!important;
  line-height: calc(var(--p) * 1)!important;
}
// small text
.S, .s {
  font-size: calc(var(--p) * 0.85)!important;
  line-height: calc(var(--p) * 1.2)!important;
}
// large text
.L, .l {
  font-size: calc(var(--p) * 1.25)!important;
  line-height: calc(var(--p) * 1.75)!important;
}
// extra large text
.XL, .xl {
  font-size: calc(var(--p) * 1.5)!important;
  line-height: calc(var(--p) * 2.25)!important;
}
// extra extra large text
.XXL, .xxl {
  font-size: calc(var(--p) * 2)!important;
  line-height: calc(var(--p) * 2.75)!important;
}
// big text
.big {
  font-size: calc(var(--h1) * 1)!important;
  line-height: calc(var(--h1) * 1.3)!important;
  @media only screen and (min-width:576px) {
    font-size: calc(var(--h1) * 1.2)!important;
    line-height: calc(var(--h1) * 1.5)!important;
  }
}

// giant text
.giant {
  font-size: calc(var(--h1) * 1.2)!important;
  line-height: calc(var(--h1) * 1.5)!important;
  @media only screen and (min-width:576px) {
    font-size: calc(var(--h1) * 1.5)!important;
    line-height: calc(var(--h1) * 1.8)!important;
  }
}

// huge text
.huge {
  font-size: calc(var(--h1) * 1.5)!important;
  line-height: calc(var(--h1) * 1.9)!important;
  @media only screen and (min-width:576px) {
    font-size: calc(var(--h1) * 2)!important;
    line-height: calc(var(--h1) * 2.3)!important;
  }
}

// max text
.max {
  font-size: calc(var(--h1) * 3)!important;
  line-height: calc(var(--h1) * 4.5)!important;
  @media only screen and (min-width:576px) {
    font-size: calc(var(--h1) * 5)!important;
    line-height: calc(var(--h1) * 5.5)!important;
  }
}

// flags
.flag {
  display: inline-block;
  font-size: calc(var(--p) * 0.65);
  line-height: 1;
  padding: calc(var(--padding) * 0.25);
  vertical-align: top;
  transform: translate(0, calc(var(--baseline) * -0.25));
}

// desc text
.desc {
  font-size: calc(var(--p) * 0.85)!important;
  line-height: calc(var(--p) * 1.2)!important;
  margin: calc(var(--baseline)/3) 0;
  font-style: italic;
  color: var(--grey);
}

// uppercase
.up-case {
  text-transform: uppercase;
}

// UNDERLINE BACKGROUND
.under-bg {
  background: linear-gradient(180deg,transparent 60%,var(--main-color-transp) 0);
  padding: 1px 6px;
}

  .text-shadow {
    text-shadow: 3px 3px 0 rgb(0 0 0 / 15%);
    &-1 {
      text-shadow: 1px 1px 0 rgb(0 0 0 / 15%);
    }
    &-2 {
      text-shadow: 2px 2px 0 rgb(0 0 0 / 15%);
    }
    &-3 {
      text-shadow: 3px 3px 0 rgb(0 0 0 / 15%);
    }
    &-5 {
      text-shadow: 5px 5px 0 rgb(0 0 0 / 15%);
    }
    &-10 {
      text-shadow: 10px 10px 0 rgb(0 0 0 / 15%);
    }
    &-bw {
      &-1 {
          text-shadow: 1px 1px 0 var(--white), 2px 2px 0 var(--black);
      }
      &-2 {
          text-shadow: 2px 2px 0 var(--white), 4px 4px 0 var(--black);
      }
      &-3 {
          text-shadow: 3px 3px 0 var(--white), 5px 5px 0 var(--black);
      }
      &-5 {
          text-shadow: 3px 5px 0 var(--white), 8px 8px 0 var(--black);
      }
    }
  }
  
// iconoir
*[class^='iconoir-'], *[class*=' iconoir-'] {
  vertical-align: middle;
}