
// VARs

:root {

  // Small tablets and large smartphones (landscape view)
  --screen-sm: 576px;
  // Small tablets (portrait view)
  --screen-md: 768px;
  // Tablets and small desktops
  --screen-lg: 992px;
  // Large tablets and desktops
  --screen-xl: 1200px;
  // Largest desktops
  --screen-xxl: 1920px;

  // margin, padding & gaps
  --margin: 0.625rem; // 10px
  --padding: 0.625rem; // 10px
  --basic-gap: 0.625rem; // 10px

  // min-max screen size
  --max-screen: 1400px; // 1400px

  // logo
  --logo-height: 1.5rem;
  --scroll-logo-height: 1.3rem;
  
  // menu
  --menu-toggle-height: 3rem;
  --scroll-menu-toggle-height: 2.2rem;
  --menu-toggle-color: transparent;
  --menu-toggle-line-color: var(--black);
  --menu-toggle-line-special-color: var(--main-color);

  // colors
  --black: rgb( 10 10 20 / 100% );
  --false-black: rgb( 20 10 40 / 100% );
  --dark-grey:  rgb( 55 55 80 / 100% );
  --grey: rgb( 120 120 150 / 100% );
  --light-grey:  rgb( 215 210 230 / 100% );
  --false-white: rgb( 250 248 255 / 100% );
  --false-white-transp: rgb( 0 0 0 / 3% );
  --white: rgb( 255 255 255 / 100% );
  --transp: rgb( 0 0 0 / 0% );

  --main-color: #12616D;
  --main-color-dark: #08363d;
  --main-color-transp: #20836625;

  --second-color: #1B5B88;
  --second-color-dark: #112a3b;

  --third-color: #FE7E62;
  --third-color-dark: #982308;

  --fourth-color: #653EAC;
  --fourth-color-dark: #28134d;

  --link-color: #25B1A0;
  --link-hover-color: #146158;

  --info: #449C93;
  --success: #569E47;
  --warning: #D0841B;
  --danger: #BE4646;
  --bad: #B01127; 

  --acid-green: #C2F261;
  --stars-color: #ffffff80;
  --gingerbread: #54494b;
  --pulse-color: var(--link-color);

  --theme-color: var(--main-color);
  --text-selection-bg: var(--link-color);
  --text-selection-color: var(--white);
  --scrollbar-color-bg: var(--main-color);
  --scrollbar-color-thumb: var(--white);

  // mini
  --mini-color: #12616D;
  --mini-color-dark: #08363d;
  --mini-second-color: #1B5B88;
  --mini-second-color-dark: #112a3b;
  --mini-third-color: #FE7E62;
  --mini-third-color-dark: #982308;
  --mini-fourth-color: #653EAC;
  --mini-fourth-color-dark: #28134d;
  --mini-link-color: #25B1A0;
  --mini-link-hover-color: #146158;

  // UWA
  --uwa-color: #3c5aff;
  --uwa-color-dark: #2841a0;
  --uwa-second-color: #3c1e8c;
  --uwa-second-color-dark: #2d145a;
  --uwa-third-color: #00dcff;
  --uwa-third-color-dark: #00a0b4;
  --uwa-fourth-color: #dc0046;
  --uwa-fourth-color-dark: #8c005a;
  --uwa-black: #100018;
  --uwa-link-color: #3c1e8c;
  --uwa-link-hover-color: #2d145a;

    // UWA
  --light-blue: #21A2D7;
  --blue: #0A5B9B;
  --dark-blue: #072A46;

  // AROMA
  //--aroma-color: #d02149;
  //--aroma-color-dark: #911937;
  
  // PEZZIDIPLA
  //--pezzidipla-color: rgb( 240 220 100 / 100% );
  //--pezzidipla-second-color: rgb( 60 0 60 / 100% );
  //--pezzidipla-third-color: rgb( 100 190 150 / 100%);
  //--pezzidipla-fourth-color: rgb( 250 215 210 / 100% );

  // La nuova startup
  //--lanuovastartup-color: rgb( 250 85 105 / 100% );
  //--lanuovastartup-color-dark: rgb( 190 60 95 / 100% );

  // DoingThings
  //--doingthings-color: rgb( 209 255 82 / 100% );

  // typo


  --font-sans: "Barlow", sans-serif;
  --font-second: "Oswald", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-handwriting: "Edu VIC WA NT Beginner", serif;
  --font-mono: "Roboto Mono", monospace;

  --font-main: var(--font-sans);
  --text-font: var(--font-sans);
  
  --font: var(--font-main);
  --title-font: var(--font);
  
  --baseline: 0.625rem; // 10px

  --h1: 2rem; // 32px
  --h2: 1.75rem; // 24px
  --h3: 1.45rem; // 20px
  --h4: 1.3rem; // 16px
  --h5: 1.15rem; // 14px
  --h6: 1rem; // 12px
  --p: 1rem; // 16px

}

