// WordPress
body {
  &.admin-bar {
    header#header {
      top: 32px;
      &.open-menu {
        top: 0;
      }
    }
  }
}

body.wp-admin {
  input, select, textarea {
    display: inline-block;
  }
  p.search-box {
    flex-wrap: nowrap;
  }
  .tablenav {
    height: auto;
  }
  .bulkactions, .actions {
    display: flex;
  }
  .desc {
    font-style: inherit;
    margin-top: 4px;
    margin-left: 7px;
    line-height: inherit;
    font-size: var(--p)!important;
  }
  .postbox-header .handle-actions {
    display: flex;
  }
  ul {
    margin: 0;
  }
  &.update-core-php h2 {
    margin-top: calc(var(--margin) * 2);
  }
  .wp-core-ui .button-link {
    font-size: var(--p);
  }
  :not(#iubenda-cs-banner) input[type=checkbox], :not(#iubenda-iframe) input[type=checkbox]{
    margin: calc(var(--margin) * 0.5);
    width: 16px !important;
    height: 16px !important;
  }
  :not(#iubenda-cs-banner) input[type=checkbox]::before, :not(#iubenda-iframe) input[type=checkbox]::before {
    width: 20px;
    height: 20px;
  }
  :not(#iubenda-cs-banner) input[type=checkbox]:checked::after, :not(#iubenda-iframe) input[type=checkbox]:checked::after {
    width: 10px;
    height: 10px;
  }
  .attachments-browser .media-toolbar-secondary {
    max-width: 66%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .view-switch.media-grid-view-switch {
    display: flex;
  }
  .button-link {
    margin: 0;
    padding: 0 calc(var(--padding) * 0.5);
    box-shadow: none;
    border: 0;
    border-radius: 5px;
    background: var(--link-color);
    cursor: pointer;
    text-align: left;
    color: var(--white);
    text-decoration: none;
    transition-property: border, background, color;
    transition-duration: .05s;
    transition-timing-function: ease-in-out; 
    vertical-align: middle;
  }
}
