{% extends "mini/html.html" %}
{% block title %}404{% endblock %}
{% block content %}
{% load i18n %}
<section>
    <div class="container fw warningBg">
        <div class="container">
            <div class="boxes fh space-top-bot boxes-vv-center">
                <div class="box box100">
                    <h1 class="center whTxt" style="font-size: 15vw; line-height: 0.8;">404</h1>
                    <p class="whTxt center big up-case italic">{% translate "page not found" %}</p>
                    <p class="center"><a href="{% url 'home' %}" class="btn whBtnBg">home</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}{% endblock %}
